[2019-04-25 20:50] rpotter12 opened #3 "continuous showing of online status"
currently, the script prints the online status after every minute which was not the idea of this project. The script should print the online time once, then prints another online time when the target again gets online.

[2019-04-26 18:54] rpotter12 commented on #3
commit https://github.com/rpotter12/blind-eye/commit/de6dfa454a8f876beb351f9a8914fb057cc6209a solves this issue

[2019-04-26 18:54] #3 closed

[2019-04-27 19:36] rpotter12 opened #4 "script for telegram bot"
currently, the script shows the online status in the terminal only. The idea of the project is to send the online status on the telegram bot.
so we need to create a script to send the online status on telegram bot.

[2019-05-14 22:23] cyberahm4d commented on #4
thanks for this, i would suggest saving the outcome in txt file for now till the telegram part is done.

[2019-05-15 03:55] rpotter12 commented on #4
@cyberahm4d thanks for the suggestion. For now we can do this too. :)

[2019-05-15 03:59] rpotter12 commented on #4
@cyberahm4d Please go ahead in implementation of your suggestion. :)

[2019-06-01 07:42] cyberahm4d opened #8 "Access denied?"
the script works great but it broke after few minutes and got this debug.txt file

[0601/103131.202:ERROR:process_reader_win.cc(123)] NtOpenThread: {Access Denied} A process has requested access to an object, but has not been granted those access rights. (0xc0000022)
[0601/103131.218:ERROR:exception_snapshot_win.cc(98)] thread ID 8732 not found in process

any clue what is the problem?

[2019-06-01 10:51] rpotter12 commented on #8
@cyberahm4d please share a screenshot of your execution and error. :)

[2019-06-16 20:43] rpotter12 opened #12 "savechat script is not working"
currently the script is just creating a txt file. It is not copying all the messages in txt file.

[2019-06-22 15:27] Rantun opened #15 "onlinetracker for multiple users (Idea)"
Hi, its possible use the wt option to register more than one account?, the idea is to have a register for instance 10 contacts.

Thanks

Reblanc

[2019-06-22 17:52] rpotter12 commented on #15
Hi @Rantun
1. Please write your idea in the README.md file and create a pull request for that changes.
2. And then start implementing your idea.

Cheers🤟🏻

[2019-07-01 10:47] rpotter12 opened #19 "proper exit option in online tracking"
Currently while running online tracking script we have to exit program by pressing `ctrl+c`.
We should add a proper option to exit program when the program is running.

[2019-07-01 11:02] rpotter12 opened #20 ".travis.yml and codecov script for testing"
.travis.yml script for travis check

[2019-07-01 11:03] rpotter12 opened #21 "docker image for whatsapp-play"

[2019-07-01 11:05] rpotter12 opened #22 "online sound notification"
a sound notification in pc system when the person gets online while the onlinetracking script is running

[2019-07-02 22:52] rpotter12 opened #24 "status save file in wplay folder"
when we track someone, the status.txt file saves in the default location directory.
The idea is to save the status.txt file in the separate wplay folder

[2019-07-14 18:28] #22 closed

[2019-07-16 14:56] rpotter12 opened #31 "location finder (Idea)"
script to find the location of person just by the name argument of the person

[2019-08-14 16:10] nileshpatra commented on #24
Hi, I have made a pull request for this issue. Please do review, :)

[2019-08-14 19:30] #24 closed

[2019-08-18 10:43] nileshpatra opened #43 "Make a GUI for the same"
Preferably Tkinter should be used to make the GUI for the same.

[2019-08-19 11:30] smarteutech opened #44 "More Information"
Hi!
Thanks for Your hard work. I am new in python and I want test this repo for my personal use of tracking. I have installed pip3 in centos7 and also installed repo as instruction given in readme file. Sorry but I am not advanced user and so I don't know how I can connect number with machine etc so I am not able to run it.
I have followed below step

1) Installed PIP3
2) Installed Repo using comm

[2019-08-19 11:51] rpotter12 commented on #43
@nileshpatra You can start implementation for GUI but I suggest to use another language because we can't make an attractive GUI with Tkinter

[2019-08-19 11:56] rpotter12 commented on #44
according to the error playsound module is not installed in your system.
Use command `pip3 install playsound` to install the playsound module.

[2019-08-19 12:01] rpotter12 commented on #44
@smarteutech as playsound sound module is not written in setup.py, you can edit the setup.py file by adding `"playsound >=1.2.2"` in `install_requires` and open a pull request for it.

[2019-08-19 12:02] smarteutech commented on #44
@rpotter12 Thanks for quick reply. I have still question about how to connect whatsapp with this. Thanks a lot.

[2019-08-19 12:11] smarteutech commented on #44
After Install PlaySound, its giving me another error called `ImportError: cannot import name 'BeatifulSoup'
`
Thanks

[2019-08-19 12:23] rpotter12 commented on #44
@smarteutech To install beautifulsoup use command `pip3 install beautifulsoup4` and please don't use `wplay -ws "<persons_name>"` the savechat script is not completed yet. Please try another option wt etc :)

[2019-08-19 12:27] rpotter12 commented on #44
@smarteutech When the script will be executed the script will automatically open whatsapp web in chrome browser. Then you have to scan the scancode with your whatsapp account.

[2019-08-19 12:29] nileshpatra commented on #43
@rpotter12 would you suggest electron, then?

[2019-08-19 12:32] rpotter12 commented on #43
@nileshpatra You can use this too but first check that you can run python script in the background or not.

[2019-08-27 17:49] nileshpatra opened #48 "Add support for Firefox"
Currently, wplay supports only Chrome browser. Let's add a support for firefox too.  The code would ask the user to choose the browser they would like to use and extension would be chosen accordingly.

[2019-08-27 18:29] rpotter12 commented on #48
@nileshpatra I was thinking that whether from asking from the user about the browser the script should automatically detect the browser.

[2019-08-28 19:39] #44 closed

[2019-09-01 08:28] #19 closed

[2019-09-01 08:29] rpotter12 commented on #19
As `ctrl + c` do the same thing as other options, this issue is no longer needed

[2019-09-09 16:49] rpotter12 commented on #8
As new version of the software is released, This issue is solved :)

[2019-09-09 16:49] #8 closed

[2019-10-16 20:21] #4 closed

[2019-10-20 06:48] rpotter12 commented on #12
We can use https://github.com/EliteAndroidApps/WhatsApp-GD-Extractor project to download the backup from the google drive.

[2019-10-20 18:59] rpotter12 opened #51 "add codecoc script"

[2019-10-20 19:05] #51 closed

[2019-10-25 07:56] rpotter12 commented on #12
Tesing is not done yet
@nileshpatra I have uploaded a script to download the encrypted form of all the chats. Please test it manually.

[2019-11-23 13:09] rpotter12 commented on #31
https://www.youtube.com/watch?v=WW6myutKBYk&feature=youtu.be
We can use this method to find the location initially

[2019-11-26 07:45] moka1309 opened #60 "Error: Command 'wplay' not found, after installing wplay by pip"
Hi,
I did "pip install wplay" after that I ran
`wplay -wt "target_name_of_your_whatsapp_contact"`
But I got error as below
`Command 'wplay' not found, did you mean:

  command 'splay' from deb splay
  command 'qplay' from deb hxtools
  command 'bplay' from deb bplay
  command 'cplay' from deb cplay
  command 'aplay' from deb alsa-utils
  command 'play' from deb sox
  command 'rplay' from deb rplay

[2019-11-26 08:21] rpotter12 commented on #60
which OS are you using?

[2019-11-26 08:26] moka1309 commented on #60
I am using Ubuntu 18.04.

[2019-11-26 08:34] rpotter12 commented on #60
Reference Link: https://github.com/ritiek/spotify-downloader/issues/451#issuecomment-449552442

you most likely do not have the directory where python bin files get installed to in your $PATH environment variable.

Find where the python package got installed:

$ find ~/.local/ /usr/ -name wplay
This should give you an output path ending with bin/wplay, so the full path should be something like [..

[2019-11-26 08:44] #12 closed

[2019-11-26 09:16] moka1309 commented on #60
Thanks now its working good. But I find few bugs while working with wplay

1. RequestsDependencyWarning: urllib3 (1.25.6) or chardet (3.0.4) doesn't match a supported version!
`pip3 install urllib3==1.24.3 --user`
2. ModuleNotFoundError: No module named 'playsound'
`pip install playsound --user`
3. ImportError: cannot import name 'BeatifulSoup'
[code]

[2019-11-26 10:45] rpotter12 commented on #60
@moka1309 These all will be removed with the next version of the software.

We need to test the whole software manually.

You can start working on this software by doing the whole manual testing
- `git clone https://github.com/rpotter12/whatsapp-play`
- `wplay --help` (to find all the options)

and execute all the features one by one and open issues if you find something not working. :)

[2019-12-04 11:57] Alexvojander opened #61 "many phone number tracking"
Hi,
Learned your code and few another repositories
it is possible to track many phone numbers at the same time?
Even if they not in contact list.
Thanks!

[2019-12-04 17:57] rpotter12 commented on #61
Hi @Alexvojander
I think it is not possible to track many phone number at the same time because we are tracking online status by web-browser and we can't open multiple person's chats at the same time. Or there is other way also that we can set the script in such a way that it will run tracking script in multiple terminal but we need to have multiple whatsapp account to open whatsapp-web in multipl

[2019-12-04 17:58] #60 closed

[2019-12-05 19:40] xandao6 commented on #61
Hey @rpotter12 I think we can create a script to iterate through contacts and track many numbers, what do you think?

[2019-12-05 19:48] Alexvojander commented on #61
Hi, @xandao6 , this script is already exist, the key question is to track users that is not in your contact list.
Regards

[2019-12-05 19:48] xandao6 opened #62 "Fork"
Hey @rpotter12 , why when I clone your repository I can't run the wplay? Only works when I do pip3 install wplay. I wanna edit and make new scripts.

[2019-12-05 20:21] rpotter12 commented on #62
Hi @xandao6
You can run your own changed script by-

1. `git clone https://github.com/rpotter12/whatsapp-play`
2. `cd whatsapp-play`
3. `pip3 install .`

`pip3 install .` will install your changes in the wplay.

[2019-12-05 20:42] rpotter12 commented on #61
Hi @Alexvojander

Currently, it is not possible to track users that are not in your contact list because there is no option in whatsapp-web to open a chat by number. And we can't track without opening their chats.

I believe that there may be any alternative to track person by phone number. We need to find that.
Cheers :)

[2019-12-05 20:43] rpotter12 commented on #15
#61 is also same as this issue

[2019-12-05 20:43] #15 closed

[2019-12-05 20:52] rpotter12 commented on #61
Hi @xandao6
I think iterating through contacts will not keep tracking any person all the time or for every second.
I think this will not be a good idea for tracking multiple users at the same time but you try your implementation and check whether it track all the persons at the same time or not. :)

[2019-12-05 22:03] xandao6 commented on #62
Thank you, I will try.

[2019-12-05 22:09] xandao6 commented on #61
Yes there is! check this out:
![image](https://user-images.githubusercontent.com/22106326/70278294-c40be780-1792-11ea-85a2-5dce7bf9aa6d.png)

[2019-12-06 14:03] rpotter12 commented on #61
You can try implementation for this :)

[2019-12-07 00:00] xandao6 commented on #61
Soon I will!

[2019-12-07 11:11] rpotter12 opened #66 "improve code quality"
https://app.codacy.com/manual/rpotter12/whatsapp-play/dashboard?bid=13271659

According to this code quality is C. It should be improve.

How to improve code quality:
1. open https://app.codacy.com/manual/rpotter12/whatsapp-play/files?bid=13271659
2. solve errors written in each files.

[2020-01-02 07:42] rpotter12 commented on #61
@Alexvojander @xandao6
I was thinking about this feature #61. Let's have a discussion about this :)

[2020-01-03 06:03] xandao6 commented on #61
What do you have in mind?

[2020-01-04 23:17] xandao6 commented on #62
It works using global python, but didn't work inside virtual environment.
What I have done with venv:
1. `python3 venv wplayVenv`
2. `source wplayVenv/bin/activate`
3. `pip install .`

[2020-01-04 23:44] xandao6 opened #72 "Pyppeteer (Idea)"
Migrate from Selenium to Pyppeteer to deal with asynchronous tasks.

[2020-01-04 23:44] xandao6 commented on #72
Drawbacks: Pyppeteer only works in Chrome.

[2020-01-05 02:18] xandao6 commented on #66
I'm working in a branch to refactor it!

[2020-01-05 05:02] rpotter12 commented on #72
@xandao6 It can be a good idea and currently we are using only Chrome web-browser. So we can apply this.

Please go ahead with your implementation :)

[2020-01-05 05:04] rpotter12 commented on #48
As #72 is introduced. This issue can be closed.

[2020-01-05 05:04] #48 closed

[2020-01-06 15:17] ritiek commented on #62
@xandao6 I'm not sure whether that results in an error or just plainly doesn't work for you?

I could confirm that this setup works fine for me:
[code]

If that went alright for you as well, `wplay` python executable should point to our newly created virtual env like so:
[code]

Now you could modify the source code and then re-run the `wplay` command everytime you wish to execute your changes.

[2020-01-06 16:32] xandao6 commented on #62
I restarted my computer and now my method also works.
Thank you!

[2020-01-06 16:32] #62 closed

[2020-01-07 05:33] xandao6 opened #75 "Save cookies (Idea)"
Save cookies to make session reusable.
I think that isn't hard with Pyppetter.

[2020-01-07 05:38] xandao6 opened #76 "New scripts (Idea)"
- Get a picture of all contacts
- Get name and number from all contacts
- Get the names of users from a group (very easy)
- Download all media from one contact
- Change photo of all groups

[2020-01-07 05:41] xandao6 opened #77 "Receive messages in wchat script (Request)"
This code could help: https://github.com/zvovov/whatsapp-web

[2020-01-07 06:07] rpotter12 commented on #77
Thanks @xandao6. This will improve wchat :)

[2020-01-07 06:09] xandao6 opened #78 "Improve Documentation (Request)"
I tried to use tgbot and savechat script and I couldn't, I think it would be a good idea to show how to use all scripts.

[2020-01-07 06:09] rpotter12 commented on #76
@xandao6 These are good ideas. Please open new issues for every single idea :)

[2020-01-07 06:11] rpotter12 commented on #78
I am working on this. Soon you will find all usage in wiki pages.

[2020-01-07 06:13] rpotter12 commented on #75
@xandao6 yes we can do that. Let us first switch to pyppeteer.:)

[2020-01-07 07:42] xandao6 opened #79 "IOT Script (Idea)"
A script that create a group and listen for your messages to control something in your house!

e.g. "/turn_light_on"

Can be done using an arduino, esp32 ...

[2020-01-07 07:49] xandao6 opened #80 "News (Idea)"
A script that let you receive news in a whatsapp group.

[2020-01-07 07:50] xandao6 opened #81 "Get pictures (Idea)"
Get a picture of all contacts and save to a folder.

[2020-01-07 07:50] xandao6 opened #82 "Get name and number from all contacts (Idea)"

[2020-01-07 07:51] xandao6 opened #83 "Get the names of users from a group (Idea)"

[2020-01-07 07:51] xandao6 opened #84 "Download all media from one contact (Idea)"

[2020-01-07 07:52] xandao6 opened #85 "Change photo of all groups (Idea)"

[2020-01-07 07:52] #76 closed

[2020-01-07 07:59] xandao6 opened #86 "About Changer (Idea)"
1. Change the About every second to looks like is dancing
2. Change the About every 30 min (you choose) with random phrases from Internet.

[2020-01-07 08:07] xandao6 opened #87 "Intermediate of a conversation (Idea)"
Let one person talk to another person from your whatsapp!

E.g.
Person A: send message to you
You: receive message from A and send the message to Person B
Person B: receive message from you

[2020-01-07 09:30] #66 closed

[2020-01-07 11:41] Tudorvr opened #88 "Error when running in Windows 10 - online tracking"
When running in terminal "wplay -wt xxx", it returns me this error after opening Chrome and recognizing the whatsapp web session from mobile phone. Have any idea how could I solve it? I run it on Windows 10, python 3.7 or python 3.6...

 DevTools listening on ws://127.0.0.1:54026/devtools/browser/5e3587e5-85b6-41b2-aa5b-0c7e220cf6cb
Looking for: xxx
Traceback (most recent call last):
  File "C:\Us

[2020-01-07 15:35] rpotter12 commented on #88
@Tudorvr I have tested this software with the same configuration you have. I don't know why this occurs.
Please uninstall it by `pip uninstall wplay` and again install it.
and if you again get any error then share your screenshot of the whole error with the command you used. :)

[2020-01-07 16:05] xandao6 commented on #88
I think this error occurs because selenium clicks quickly on the person and sometimes the element is not fully charged.
This error will be fixed soon with Pyppeteer!

For now we can try this between line 47 and 48 from seleniumUtils.py
   ` time.sleep(5)`

[2020-01-07 16:21] rpotter12 commented on #88
This can be possible.

[2020-01-07 16:44] xandao6 opened #89 "Outdated link."
There is this link in the Readme that is outdated.
https://github.com/rpotter12/rpotter12.github.io/blob/master/blogs/blog3-tracking-26-07-2019.md

[2020-01-07 22:15] xandao6 commented on #89
Wait for Pyppeteer, things will be changed.

[2020-01-09 00:27] xandao6 commented on #72
I am about to finish the pyppeteer implementation. When I walked deep into this library it seemed a bit abandoned, what do you think about using both libraries (selenium and pyppeteer)? and over time we decide if we exclude any of these libraries.

So far so good with pyppeter, I'm bringing a lot of news!

[2020-01-09 00:48] xandao6 commented on #72
Do you want to create an alpha version to use pyppeteer? or leave it on an experimental branch?
If you want to create a new branch because I don't have that power.

[2020-01-09 01:50] rpotter12 commented on #72
@xandao6, for now, we create an experimental branch and test pyppeteer from that branch. When it performs same function as master branch code do then we will shift code to master branch.

[2020-01-09 01:55] rpotter12 commented on #72
@xandao6 I have created experimental branch. :)

[2020-01-09 03:20] d2e4c6d8 opened #91 "empty page in chrome with "data:," in address bar"
with latest whatsapp play v3.0.0 with latest chrome (79.0.3945.117) and Chromedriver (79.0.3945.36)
wplay -wt username
chrome shows empty page with only "data:," in address bar
What could be the cause of this ?
Thanks!

[2020-01-09 03:31] xandao6 commented on #91
Any error messages on the terminal?

[2020-01-09 03:46] d2e4c6d8 commented on #91
Yes, but only after Chrome terminates by itself (that takes a while):
Traceback (most recent call last):
  File "....\python\v3\Scripts\wplay-script.py", line 11, in <module>
    load_entry_point('wplay==3.0.0', 'console_scripts', 'wplay')()
  File "....\python\v3\lib\site-packages\wplay\wplay.py", line 97, in main
    match_args(args)
  File "....\python\v3\lib\site-packages\wplay\wplay.py", line

[2020-01-09 03:55] xandao6 commented on #91
Could you test with chrome version 79.0.3945.88?

[2020-01-09 04:13] d2e4c6d8 commented on #91
I got it resolved. The problem was blocked inbound connections to chrome in firewall. It used to work that way with previous versions. Thanks!

[2020-01-09 04:59] rpotter12 commented on #88
this is solved by #92

[2020-01-09 04:59] #88 closed

[2020-01-09 05:00] #91 closed

[2020-01-09 15:29] xandao6 opened #93 "tgbot is broken"
Take a look in my comment here: https://github.com/rpotter12/whatsapp-play/pull/92

[2020-01-09 22:53] xandao6 opened #94 "Dependency Warning"
![image](https://user-images.githubusercontent.com/22106326/72111463-a396f600-3319-11ea-8889-22aa75b801b4.png)
Should we care?

[2020-01-09 22:54] xandao6 commented on #72
All done!

[2020-01-09 22:54] #72 closed

[2020-01-09 23:06] xandao6 commented on #72
Pyppeteer implemented in experimental branch!
https://github.com/rpotter12/whatsapp-play/pull/95

[2020-01-09 23:55] rpotter12 commented on #93
@xandao6 I will fix this very soon :)

[2020-01-09 23:55] #93 closed

[2020-01-10 16:02] rpotter12 commented on #94
We can think about it later on :)

[2020-01-10 16:03] #94 closed

[2020-01-10 22:13] xandao6 opened #96 "Spoilers of experimental version"
![image](https://user-images.githubusercontent.com/22106326/72190005-246af600-33dd-11ea-9e2c-8a24b0667546.png)

It's getting amazing!!!

[2020-01-11 17:03] rpotter12 commented on #96
Thanks @xandao6 :)

[2020-01-11 17:03] #96 closed

[2020-01-11 17:05] rpotter12 commented on #89
@xandao6 This blog is about the initial script so chat blog will not be changed. A new blog will be written for the new script :)

[2020-01-11 17:05] #89 closed

[2020-01-12 07:00] xandao6 commented on #75
Actually, I'm finding it quite difficult, cookies don't help us, because whatsapp uses cookies and local storage. But I think I found a way, wait for it!

[2020-01-12 08:11] xandao6 opened #102 "Write automated tests"

[2020-01-13 05:11] rpotter12 commented on #102
I tried to write an automated test but this software needs to scan the QR code which I as unable to thing how to do that in automated test.

[2020-01-13 05:12] xandao6 commented on #94
Solved in Ubuntu 18.04,
[code]

[2020-01-13 05:15] xandao6 commented on #102
![image](https://user-images.githubusercontent.com/22106326/72234139-58dfdd00-35aa-11ea-830d-067db42b1602.png)
I think this can be done now, this is my last branch, I haven't pulled it yet but it's all working.

[2020-01-13 05:26] xandao6 commented on #75
Implemented in experimental branch
https://github.com/rpotter12/whatsapp-play/pull/103

[2020-01-13 05:26] #75 closed

[2020-01-14 04:13] xandao6 opened #105 "Create an executable for windows"

[2020-02-19 01:20] xandao6 opened #109 "The session is not being saved on Windows 10"
The error may be in choosing the path in which the user data folder is created. The error occurs in the menu, when we try to create a new session

[2020-02-19 01:23] xandao6 opened #110 "Bug when I move around the menu."
1) Try to delete a session
2) Continue without saving

`Traceback (most recent call last):
  File "C:\Program Files\Python38\lib\runpy.py", line 193, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Program Files\Python38\lib\runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "D:\Engenharia\Programaçao\Python\Projects\whatsapp-play\wplay\__main__.py

[2020-02-19 01:28] xandao6 opened #111 "Remove the CLI and add a Menu"

[2020-02-19 01:30] xandao6 commented on #105
If we do this: #111
Than #105 can be done easily with pyinstaller

[2020-02-19 01:31] xandao6 opened #112 "Add an exit option on the Session Manager"

[2020-02-19 01:41] xandao6 opened #113 "Can't delete session in Windows 10"

[2020-02-19 01:42] xandao6 commented on #93
@rpotter12 fixed?

[2020-02-20 11:45] xandao6 opened #116 "Refactoration"
Create a new python file for session managment and remove the code from pyppetter menu.

[2020-02-20 11:50] xandao6 commented on #43
ElectronJS is very nice and works with python! If anyone has knowlegde about ReactJS + ElectronJS it will help a lot.

[2020-02-20 13:46] amandhamija98 commented on #82
Hi, I would like to work on this enhancement feature, could you please tell me more about it

[2020-02-20 16:11] xandao6 commented on #82
Hi, take a look on how the others scripts work, like the messageblast.py and onlinetracker.py.
You also need to add the new script to the file __main__.py.
In the utils folder you will find the "FOR SCRIPTING"  functions inside the files. These functions are the ones that you can use in your script (maybe we need to add more).

[2020-02-20 16:35] xandao6 commented on #82
Yea, you will have to create a new script in utils, a script to with functions that get the person's name and number using pyppeteer. Something similar to pyppeteerSearch.py ​​whose job is to search for a person on whatsapp from a name.

[2020-02-21 00:34] xandao6 commented on #113
It's because I dont have permission to remove!

[2020-02-21 03:45] xandao6 commented on #116
Solved by: #117

[2020-02-21 03:45] #116 closed

[2020-02-21 03:45] xandao6 commented on #112
Solved by: #117

[2020-02-21 03:45] #112 closed

[2020-02-21 03:45] xandao6 commented on #113
Solved by: #117

[2020-02-21 03:45] #113 closed

[2020-02-21 03:45] xandao6 commented on #110
Solved by: #117

[2020-02-21 03:45] #110 closed

[2020-02-21 03:45] xandao6 commented on #109
Solved by: #117

[2020-02-21 03:45] #109 closed

[2020-02-22 05:46] amandhamija98 commented on #82
I will do so, thank you!

[2020-02-22 10:09] nileshpatra opened #120 "Make a clean git history?"
Currently the git history seems very cluttered, making it difficult to keep a track of changes.
For example ; [this](https://github.com/rpotter12/whatsapp-play/commit/8bad44f1f0bca11b66b49bf4dff0a8240150f954), [this](https://github.com/rpotter12/whatsapp-play/commit/84dbac85d4b4e707698ff22da4eafba1cbb14e98), [this](https://github.com/rpotter12/whatsapp-play/commit/e02d52bcac19e0b772e13e8440397e201

[2020-02-22 17:17] xandao6 commented on #120
Thank you for the feedback! I will improve my commits.

[2020-02-22 17:32] xandao6 opened #121 "Bug with session manager menu"
## The BUG
The bug I took note of is when you do the following steps:
1. Click in 'Restore a Session'
1. Click in '<---Go-back---'
1. Click in 'Create a new session'
1. Write a random name

The end result should save the session, you will notice that this does not happen when you restart the program and check the available sessions.

[2020-02-22 17:34] xandao6 opened #122 "Logging"
Implement logging python module, to track the errors easily.

[2020-02-22 17:41] xandao6 opened #123 "Bug with target search"
I've been noticing some bugs in the current targeting method.

## Bug 1
If you have 2 contacts with the same name, only 1 will be listed.
I don't know why yet.

## Bug 2
False-positive groups, sometimes people appear in the group listing.
This is because the selector that takes the name of the groups also takes the status of the people and when that status contains the searched name it is also inc

[2020-02-22 17:44] xandao6 opened #124 "Target Search may cause problems in future"
Currently there is only one method of search targets.
We will have a big problem if WhatsApp changes, even if small, the selectors or the design.

[2020-02-22 17:48] xandao6 commented on #111
This menu should also have a area for programmers input, who prefer to use CLI. For example:
wblast --message spam --times 1000 --target name

[2020-02-23 00:43] xandao6 commented on #120
Future commits will be squashed before the PR.
@rpotter12

[2020-02-23 04:31] nileshpatra commented on #120
@xandao6 why was the issue closed?
I think I wasn't clear, apologies.
What I mean was: we can squash some of the unrelated previous commits which you or other authors have made, and force-push?

There are ~300 for ~500 lines of code, which doesn't look good.

[2020-02-23 04:53] nileshpatra opened #125 "GitHub releases?"
There are several changes, it would be a good idea to do releases every once in a while.
However there are major bumps in releases
3 -> 5,
2.2 -> 3

Why is that?
I would suggest doing point releases
For example : 2 -> 2.1

Bumping releases directly by 2 doesn't look like a great idea.

[2020-02-23 08:43] rpotter12 commented on #125
@nileshpatra Release changes were done in a systematic manner in setup.py file.
At that time I was busy with some college stuffs. So I was not able to see the repository at that time. That's why some release left.

[2020-02-23 12:50] Bhupesh-V opened #126 "urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='storage.googleapis.com', port=443): Max retries exceeded with url: /chromium-browser-snapshots/Linux_x64/575458/chrome-linux.zip (Caused by SSLError(SSLError("bad handshake: Error([('SSL routines', 'ssl3_get_server_certificate', 'certificate verify failed')],)",),))"
This issue also relates to the following [issue](https://github.com/psf/requests/issues/4246)

I am trying to run the following command
`wplay -wc firstname_lastname`

Then I select New session
but the following error is thrown

I am currently on a 32bit system

[code]

[2020-02-23 14:01] rpotter12 commented on #126
@Bhupesh-V I don't know exactly what is happening but there might be any connection error or any installation error because at first it should download the chromium browser but at that time the error started.

I suggest you to uninstall it and install the whatsapp-play again.

[2020-02-23 14:15] rpotter12 commented on #126
https://github.com/ritiek/spotify-downloader/issues/480 might be helpful :)

[2020-02-23 18:30] navi532 commented on #122
Sir, fill me up with more details. i wanna work on it

[2020-02-23 22:34] xandao6 commented on #122
@navi532  Create a file inside utils named Logger.py and add the following code:
[code]

[2020-02-23 22:44] xandao6 commented on #122
You can modify the Logger file as you wish. For the future I would like to have a option to activate and deactivate the logger prints in terminal and a config.ini file to choose what logger will print.

# Useful Links
[Python - Logging](https://docs.python.org/3/library/logging.html)
[Real Python - Logging](https://realpython.com/python-logging/)

[2020-02-23 22:52] xandao6 commented on #126
Chromium is downloaded automatically when wplay starts.

[2020-02-23 22:57] xandao6 commented on #126
@Bhupesh-V  which urllib3 version you're using? I use urllib3==1.25.8.
If isn't the same version try: `pip3 install urllib3==1.25.8`

[2020-02-23 23:13] xandao6 commented on #126
Maybe is related to the firewall in the port 443 too.

[2020-02-24 07:57] mridubhatnagar commented on #21
I am gssoc participant. I am interested in working on this issue.
I don't know docker. Btw curious to learn and explore.

[2020-02-24 07:59] Yash1256 commented on #124
@xandao6 I read your project documentation and ya the interesting reason to get the [idea](https://github.com/rpotter12/rpotter12.github.io/blob/master/blogs/blog3-tracking-26-07-2019.md) of this project too I am really excited to work on your project can u guide me in which file I have to work on for solving the issue?

[2020-02-24 08:47] xandao6 commented on #124
To create more search target methods you will need to modify two files:
1. pyppeteerSearch.py (renamed to target_search.py in the current PR) -> here's our current method.
1. helpers.py ->here are the CSS selectors

To understand the current search method you can run the project and see how it searches.
`wplay -wb any_name`

The current method consists of:
1. Click in 'New Chat'
1. Write the name

[2020-02-24 08:48] xandao6 commented on #124
Hi, @Yash1256 .
To create more search target methods you will need to modify two files:
1. pyppeteerSearch.py (renamed to target_search.py in the current PR) -> here's our current method.
1. helpers.py ->here are the CSS selectors

To understand the current search method you can run the project and see how it searches.
`wplay -wb any_name`

The current method consists of:
1. Click in 'New Chat'
1.

[2020-02-24 14:05] aryangulati commented on #20
Can u explain a bit about issue?

[2020-02-24 14:07] aryangulati opened #128 "Chatbot (Idea)"

[2020-02-24 14:24] xandao6 opened #130 "Add a option to manually choose the target!"
Actually we use a script to search the target, why not let the user go to the whatsapp and manually choose the target?

[2020-02-24 14:25] xandao6 commented on #128
Can be done after #77

[2020-02-24 14:41] Bhupesh-V commented on #126
Well this worked
But apparently my system is not supported for its execution ([No build](https://github.com/puppeteer/puppeteer/issues/2996) for 32bit Architecture)

[2020-02-24 19:42] GeniusLearner opened #132 "whatsapp-play not executing with -wt command"
## Expected Behavior

Able to successfully execute the command `wplay -wt "XXXXXXXXX"`

`XXXXXXXXX` is the phone number with international code attached.

## Actual Behavior

The command fails after choosing a session and gives the following core dump:

[code]

Upon researching this error, it showed that it required chromium, so I installed it on my laptop, but I'm still facing the issue and I hav

[2020-02-24 20:10] rpotter12 commented on #132
@GeniusLearner Is it working with name for you??

[2020-02-24 20:15] #125 closed

[2020-02-24 20:26] GeniusLearner commented on #132
@rpotter12 No, it's not working with name.

[2020-02-24 20:39] rpotter12 commented on #132
clone the repository then use following commands:
- `cd whatsapp-play`
- `pip3 install -e .`

Maybe this works

[2020-02-24 21:00] Yash1256 commented on #124
@xandao6 when we type 'wplay -wb any_name' instead of any name if we just type the alphabets then it searches the whole contact list for that alphabet and which word contain that alphabet is shown and by this the list is very  large but terminal shows only 10 contacts and then groups but contacts are even more than 10 (I have checked for my contact list) is this searching process fine ?? Or that S

[2020-02-24 22:08] xandao6 commented on #124
The CSS Selector only takes the names that are visible on the screen, so in order to have more contacts we would need to scroll down and do a whole process again.
But I believe that only 10 is already good, because people look for a specific name. And doing it the other way would make the process very difficult.

[2020-02-24 22:19] xandao6 commented on #132
Currently we are not able to search for a number, only for contacts in you list.

[2020-02-24 22:22] xandao6 commented on #132
If you wanna use venv:
clone, cd
python3 -m venv .venv
source .venv/bin/activate
you can install or not, without installing: python -m wplay -wb any_name
If you wanna install: python -m pip install -e .

[2020-02-24 22:27] xandao6 opened #133 "Add an option to target a specific number, without the need to include in your phonebook"
![image](https://user-images.githubusercontent.com/22106326/75196888-a881fe80-573b-11ea-805b-eb82a7a50a3b.png)

[2020-02-24 22:30] xandao6 commented on #126
32 bit Architecture not supported. Maybe in the future we add selenium again, as an alternative .

[2020-02-24 22:30] #126 closed

[2020-02-25 04:29] saks1209am opened #134 "Automating the task of sending some images or wishes to many contacts"
We use WhatsApp on our day to day basis. If there is any festival or any special occasion then we use to wish everyone by forwarding some gifs, images or some long messages. Instead of searching and replying to all the contacts we can automate this task with the help of a bot.
With the help of Robotic Process Automation(RPA) using Uipath we can achieve this task and many other sequential task.

[2020-02-25 04:32] saks1209am opened #135 "Automating the task of sending some images or wishes to many contacts"
We use WhatsApp on our day to day basis. If there is any festival or any special occasion then we use to wish everyone by forwarding some gifs, images or some long messages. Instead of searching and replying to all the contacts we can automate this task with the help of a bot.
With the help of Robotic Process Automation(RPA) using Uipath we can achieve this task and many other sequential task.

[2020-02-25 05:39] #134 closed

[2020-02-26 07:10] Bhanu-mbvg commented on #123
Hey, can I work on this issue?

[2020-02-26 19:43] xandao6 commented on #123
@Bhanu-mbvg sure, will be counted for GSSoC only after March 1st

[2020-02-27 14:47] msk4862 commented on #43
@xandao6 I have knowledge of ReactJS, tell me If I can help in any way.

[2020-02-27 19:20] xandao6 commented on #20
https://codecov.io/

[2020-02-27 19:23] xandao6 commented on #43
@msk4862, search about ElectronJS. You can create a ReactJS page  and connect it to ElectronJS, and then we connect the ElectronJS to Python.

A ReactJS page is the wplay GUI, have you played with the project?

[2020-02-28 03:34] xandao6 commented on #78
@priyansh19

[2020-02-28 05:05] csharp489 opened #139 "whatsapp-play is not tracking the name having emoticons"
**Expected Behaviour**
Able to track the name having emoticons like(Anyname1 ❤ OR ❤AnyName2❤).
It should execute the command `wplay -wt "Anyname"`.
**Actual behaviour**
![e](https://user-images.githubusercontent.com/42842260/75511807-554acd00-5a15-11ea-823a-7df18fb58dc0.PNG)
On Analysing this unexpected output I found there is some UnicodeEncodeError.
**Specifications**
OS: Window 10
platform: win

[2020-02-28 06:33] xandao6 commented on #139
@csharp489  Have you tried a name without any emoji?

[2020-02-28 08:44] csharp489 commented on #139
Yes,I have tried. The command is working fine without using emoji.

On Fri, 28 Feb 2020, 12:03 pm Alexandre Calil, <notifications@github.com>
wrote:

[2020-02-28 17:29] mridubhatnagar commented on #21
@rpotter12 @xandao6 any update on this?

[2020-02-28 23:32] xandao6 commented on #21
@mridubhatnagar We don't know docker, we just know that is good. You will need to learn it, the main purpose is to create an easy and universal installation environment.

[2020-02-28 23:37] xandao6 commented on #139
I don't know if this error happens to more people, it doesn't happen to me. It will be necessary to debug, find the problem and deal with the error.

[2020-02-29 05:44] mridubhatnagar commented on #21
@rpotter12 @xandao6 can this task be assigned to me? I am interested in tinkering around with docker.

[2020-02-29 06:31] shvamabps opened #141 "Location not working"
for anyone to have their location one can use is maps API.
What I am saying is that right now users can just ask for location and the way WhatsApp uses the maps feature on a separate screen, we can have that as JSON returned and can then fetch IP address and the location from there.

[2020-02-29 08:08] Bhupesh-V opened #142 "separate Contributing Guidelines"
It would be nice to unclutter the README and separate contributing guidelines in a separate `CONTRIBUTING.md` file.

Basic format may look like

# Contributing to whatsapp-play

:+1::tada: First off, thanks for taking the time to contribute! :tada::+1:

Make sure you follow below guidelines before contributing.

1. Raise an issue before sending any PR.
2. Make you changes to `feature` branch.
3. S

[2020-02-29 12:23] simran2104 commented on #121
I can solve this issue.

[2020-02-29 12:34] simran2104 commented on #80
can u explain something more about how to solve this issue.

[2020-02-29 13:48] xandao6 commented on #141
I already have a issue for that, discuss here: #31

[2020-02-29 13:48] #141 closed

[2020-02-29 13:58] xandao6 commented on #61
#133 We have a issue to target unsaved people.

[2020-02-29 14:04] xandao6 opened #143 "Type Annotation"
Add Type Annotations in all code to be more readable. Be careful not to use specific versions above python 3.6, because this is the minimum version of our project and many people use it.
https://docs.python.org/3.6/library/typing.html

[2020-02-29 14:13] xandao6 commented on #21
@mridubhatnagar we are deciding how issues will be assigned, but it is important to know your interest, take a look at slack.

[2020-02-29 14:18] xandao6 commented on #80
@simran2104 Is a script that after you choose a target (that part is already implemented), the script will be sending news from some sites to that target. This script is very interesting and should be written thinking about the improvements it may have in the future, how to choose the sites and the type of news, since people speak different languages.

[2020-02-29 16:21] shvamabps commented on #31
can we use an API for this purpose where we can return location in JSON format and fetch from there

[2020-02-29 16:24] shvamabps commented on #143
I have 3.6.9

[2020-02-29 16:25] xandao6 commented on #31
which API?

[2020-02-29 16:27] shvamabps commented on #31
gmaps api

[2020-02-29 16:28] xandao6 opened #144 "Get full info about one target (Idea)"
If is a person:
- person name
- about
- number
- groups in common
- profile photo

If is a group:
- group name
- how many people
- group profile
- description
- participant's names
- _participant's numbers ? -> this part is difficult and can be postponed_

[2020-02-29 16:30] amandhamija98 commented on #144
I would like to work on this issue, I will start by getting name, about, number and groups in common

[2020-02-29 16:31] xandao6 commented on #144
okay, get the person profile photo too

[2020-02-29 16:31] amandhamija98 commented on #144
ok, I will try that

[2020-02-29 16:36] xandao6 commented on #83
Closed because of #144

[2020-02-29 16:36] #83 closed

[2020-02-29 16:36] xandao6 commented on #144
@amandhamija98  you can do just the person part and let the group part for another person.  Also the issue #83 was closed.

[2020-02-29 16:38] amandhamija98 commented on #144
Sure, thankyou

[2020-02-29 16:55] rpotter12 opened #145 "BEGINNERS: Install the software and execute the tracking command successfully"
###GSSOC 2020
1. Read the README.md file of the project.
2. Participant have successfully install the software.
3. have to run tracking command successfully.
4. Open a pull request adding screenshots of successfully installed software and executing tracking command in screenshot folder.

Tracking guide: https://github.com/rpotter12/whatsapp-play/wiki/Usage#whatsapp-track

[2020-02-29 16:57] mridubhatnagar commented on #21
Pinged on slack

[2020-02-29 17:27] rpotter12 commented on #123
I recommend to solve 1 bug in 1 PR.

[2020-02-29 17:35] csharp489 commented on #139
I guess there is some UTF error. I found that Unicode" on Windows is UTF-16LE, and each character is 2 or 4 bytes. Linux uses UTF-8, and each character is between 1 and 4 bytes.

[2020-02-29 17:46] rpotter12 commented on #61
I think we can track many phone numbers by using threads. I don't know is this a correct way or not.

[2020-02-29 17:47] rpotter12 commented on #43
Create a seperate folder and commit some initial working code. like open of the app

[2020-02-29 17:48] csharp489 commented on #145
please Add some demo(example) about how to execute the command for tracking ,messaging, chatting and all in documentation .
-wt: wplay -wt "anyName" please give the example for all the arguments.

[2020-02-29 18:33] ranjal007 commented on #145
I would like to work on this issue
please assign it to me for gssoc20.

[2020-02-29 18:35] rpotter12 commented on #145
This is an open issue.

[2020-02-29 18:39] sim12cool commented on #81
please assign this issue to me for gssoc

[2020-02-29 18:42] sim12cool commented on #81
@rpotter12 please assign this issue to me.Thanks

[2020-02-29 18:43] kancherlakishorereddy commented on #77
iI am aGSSoC participant. Actually I was trying out wplay chatting with my friend and this was the first thing I observed. I was able to send messages but couldn't read his replies in the command line itself. I thought it would be nice to have that feature too. I am happy to know that you already have this in mind. Can I work on this under GSSoC2020?

Looking forward to doing more. Cheers!!

[2020-02-29 18:51] rpotter12 commented on #81
@sim12cool Go ahead with your implementation :)

[2020-02-29 18:53] sim12cool commented on #81
Thanks @rpotter12  :)

[2020-02-29 19:19] shvamabps commented on #31
Please assign me this issue
I can work on it

[2020-02-29 20:14] amandhamija98 commented on #144
Could you please assign this issue to me

[2020-02-29 20:14] safurazaheer commented on #87
Please assign this issue to me

[2020-02-29 20:34] Antaripa commented on #135
Please assign this issue to me. I want to work on this issue.

[2020-02-29 20:34] Antaripa commented on #142
I would like to work on this issue.

[2020-02-29 21:07] sim12cool opened #148 "Find out whether there is a specific contact name in your friend's contact list"

[2020-03-01 01:54] #121 closed

[2020-03-01 01:55] xandao6 opened #149 "Refactore session manager and remove recursion"
Currently, the menu uses recursion to restart itself, it is not good practice.

## How to do?
In the file session_manager.py we need to remove all recursion and intead add a State Machine.

## Helpful links
https://python-3-patterns-idioms-test.readthedocs.io/en/latest/StateMachine.html
https://dev.to/karn/building-a-simple-state-machine-in-python

## Questions
Why not just add a loop in session m

[2020-03-01 02:01] xandao6 commented on #148
How? Can you explain more?

[2020-03-01 02:18] xandao6 commented on #144
One more person could be assigned to this issue, to do the group part.

[2020-03-01 02:23] xandao6 commented on #143
I meant not to use specific python 3.7+ things

[2020-03-01 02:25] xandao6 commented on #139
@csharp489 do you wanna work with this issue?

[2020-03-01 02:36] xandao6 commented on #145
If you do this you will earn GSSoC points, it's for everyone!

[2020-03-01 02:40] xandao6 commented on #135
Done, you have 4 days. If there is no queue you can ask for more days.

[2020-03-01 02:48] xandao6 commented on #124
@Yash1256 do you wanna work with this issue?

[2020-03-01 02:50] xandao6 opened #150 "Bug 1 with target search"
I've been noticing some bugs in the current targeting method.

## The bug:
If you have 2 contacts with the same name, only 1 will be listed.
I don't know why yet.

[2020-03-01 02:50] #150 closed

[2020-03-01 02:52] xandao6 commented on #123
@rpotter12 the solution will fix both.

[2020-03-01 02:52] xandao6 commented on #123
@Bhanu-mbvg  Assigned to you, you have 4 days.

[2020-03-01 02:54] xandao6 commented on #122
@navi532 assigned to you, you have 4 days.

[2020-03-01 03:00] xandao6 commented on #102
This issue will be worth points for each written test.

[2020-03-01 03:01] xandao6 commented on #87
@safurazaheer if you have any question ask me here or in slack private.

[2020-03-01 03:02] xandao6 commented on #82
@amandhamija98  assigned to you, you have 4 days.

[2020-03-01 03:04] xandao6 commented on #77
@kancherlakishorereddy  Hi, take a look at https://github.com/rpotter12/whatsapp-play/issues/77

[2020-03-01 03:07] xandao6 commented on #61
Thread would be good practice and the best option, but it would also work with a loop.

[2020-03-01 03:08] xandao6 commented on #61
The only problem is whether the status will load or not when switching between contacts, just testing to find out.

[2020-03-01 03:09] xandao6 commented on #43
@msk4862 do you wanna work with this issue?

[2020-03-01 03:10] xandao6 commented on #31
@shvamabps done, you have 4 days.

[2020-03-01 03:11] xandao6 commented on #21
@mridubhatnagar done, you have 4 days.

[2020-03-01 03:29] charan7386 commented on #149
I am interested in solving this, please assign it ti me.

[2020-03-01 03:46] mridubhatnagar commented on #21
Thanks. Working on it.

[2020-03-01 04:20] xandao6 commented on #149
@charan7386 assigned

[2020-03-01 04:31] csharp489 commented on #145
Yes,I will also do this .

On Sun, 1 Mar 2020, 8:06 am Alexandre Calil, <notifications@github.com>
wrote:

[2020-03-01 04:42] msk4862 commented on #43
@xandao6 yes.

[2020-03-01 05:29] csharp489 commented on #139
Yes, I want to work on this issue.

[2020-03-01 06:01] amruta-n commented on #105
Interested for working on this issue... Could you provide details?

[2020-03-01 06:47] Yash1256 commented on #124
Sir I am trying to find the issue and solve it but it is taking time. I am working on it but as internal exams are going on so thereby got less time.

[2020-03-01 07:00] viduu commented on #145
#145 @xandao6
![Screenshot (1)](https://user-images.githubusercontent.com/52102657/75621288-0735e680-5b47-11ea-98cc-43eb8cc218b9.png)
![Screenshot (2)](https://user-images.githubusercontent.com/52102657/75621294-174dc600-5b47-11ea-89b1-2d0b298f53f6.png)
succesfully installed...

[2020-03-01 07:09] viduu commented on #145
@xandao6
![Screenshot (3)](https://user-images.githubusercontent.com/52102657/75621382-66e0c180-5b48-11ea-87b3-e29135fa643c.png)
![Screenshot (2)](https://user-images.githubusercontent.com/52102657/75621385-73fdb080-5b48-11ea-9626-a38a598336b4.png)
sucessfully installed.....

[2020-03-01 07:20] Yash1256 commented on #145
![Screenshot from 2020-03-01 12-15-08](https://user-images.githubusercontent.com/56587507/75621495-15254f00-5bbb-11ea-90b7-d98d3764fe8a.png)
![Screenshot from 2020-03-01 12-09-18](https://user-images.githubusercontent.com/56587507/75621499-18203f80-5bbb-11ea-8041-ebcfe3a8094c.png)
@xandao6 Successfully Installed and executed tracking command.
I have also opened a PR but it is showing some error so

[2020-03-01 07:31] viduu commented on #145
@Yash1256 which error?

[2020-03-01 07:32] viduu commented on #145
@Yash1256 which error?

[2020-03-01 07:52] preeti13456 commented on #145
Interested

[2020-03-01 08:05] preeti13456 commented on #149
Interested

[2020-03-01 08:05] preeti13456 commented on #148
Interested

[2020-03-01 08:06] preeti13456 commented on #144
Interested

[2020-03-01 08:06] preeti13456 commented on #143
Interested

[2020-03-01 08:17] shvamabps opened #154 "The updater code for telegram bot"
possibly It is the token for telegram bot that is required for the -wtb to work on
So what one can do is that either they can put the token already for the bot to work on
else the option is of cli
here the code for updater is showing deprecated
maybe one need to recode the whole code of update or part of the code can have some changes
It might be insecure for the user to insert the token number at

[2020-03-01 08:32] Yash1256 commented on #124
Sir what exactly we have to do in the target_search.py can u please list down the exact changes to do.

[2020-03-01 08:47] shvamabps opened #155 "Once a tracking started it stays there only"
For contact to be tracked if it is online or offline that's done
if the user wants to change the contact name then the application needs to be closed or restarted to track a new contact
If whatever may be the situation either online or offline user should have the flexibility to change the contact like it should ask whether you want to continue tracking or change the contact

[2020-03-01 08:52] xandao6 commented on #143
@preeti13456  assigned

[2020-03-01 08:54] xandao6 commented on #43
@msk4862 assigned

[2020-03-01 09:06] xandao6 commented on #149
@preeti13456 are you on the line.

[2020-03-01 09:08] xandao6 commented on #148
From what I understand, this cannot be possible, I am waiting for him to give more details.

[2020-03-01 09:09] xandao6 commented on #144
@preeti13456 what part do you want to do? if it is for "person" you have to enter the queue.

[2020-03-01 09:35] mridubhatnagar commented on #21
Hey, before I start with the implementation.

I just wanted to know what was the use case which made you think that docker would be a nice solution to solve the problem?

I am kind of reading docker stuff. I trying to understand where docker fits in.

[2020-03-01 11:25] preeti13456 commented on #144
Sure

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Alexandre Calil <notifications@github.com>
Sent: Sunday, March 1, 2020 2:39:48 PM
To: rpotter12/whatsapp-play <whatsapp-play@noreply.github.com>
Cc: preeti13456 <preetijecrc99@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [rpotter12/whatsapp-play] Get full info about one target (Idea) (#1

[2020-03-01 11:27] preeti13456 commented on #149
Yes

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Alexandre Calil <notifications@github.com>
Sent: Sunday, March 1, 2020 2:36:05 PM
To: rpotter12/whatsapp-play <whatsapp-play@noreply.github.com>
Cc: preeti13456 <preetijecrc99@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [rpotter12/whatsapp-play] Refactore session manager and remove recur

[2020-03-01 13:50] SubhradeepSS commented on #133
@xandao6 @rpotter12 I would like to work on this issue.
Can you please help a bit about how to begin?

[2020-03-01 14:23] safurazaheer commented on #87
@xandao6   Basically, recieving the text can be solved by scrapping na?

[2020-03-01 14:26] Yash1256 commented on #124
@xandao6 Sir can u please guide me so that I may proceed further on thus issue.

[2020-03-01 14:27] vineetjk commented on #145
![screenshot-wplay](https://user-images.githubusercontent.com/42497152/75627510-da410c80-5bf6-11ea-8cd6-64dcc76cb0af.png)

[2020-03-01 15:40] mySTRiouscoder commented on #145
![image004](https://user-images.githubusercontent.com/56103228/75628629-efbb3400-5c00-11ea-9c79-d3e290cec607.jpg)
![image001](https://user-images.githubusercontent.com/56103228/75628634-01044080-5c01-11ea-8d32-e586d1d434b6.png)

[2020-03-01 17:43] 07ATUL commented on #145
@xandao6 I would like to work on this issue

[2020-03-01 18:05] priyansh19 commented on #78
I'll be updating README.md File

[2020-03-01 18:07] csharp489 commented on #154
For Window user:
If someone want token to run that command then He/she can go to the link given below:
https://www.siteguarding.com/en/how-to-get-telegram-bot-api-token
By using the process given in the blog ,you can access your token But remember never share it with anyone. Otherwise It can be used by anyone to control your bot.

[2020-03-01 18:45] 07ATUL commented on #145
![status](https://user-images.githubusercontent.com/32452535/75631674-f6ef3b80-5c1a-11ea-8a1c-4d502749db22.PNG)

[2020-03-01 19:01] 07ATUL opened #167 "Proper documentation of codes is required in the various python scripts to know about where the control of the program is going."
@rpotter12 what do you think? if  yes can i work on it?

[2020-03-01 19:05] BhanujaAggarwal commented on #155
@xanda06 please assign me this issue

[2020-03-01 19:05] BhanujaAggarwal commented on #155
@xandao6  please assign me this issue

[2020-03-02 03:38] xandao6 commented on #167
Sure, assigned.

[2020-03-02 03:41] xandao6 commented on #155
@BhanujaAggarwal  assigned

[2020-03-02 03:44] xandao6 commented on #145
**Everyone can work with this issue, just send a PR.**

[2020-03-02 03:48] xandao6 commented on #133
You need to detect when users write a number instead a string, then you need to open a new page with the url: wa.me/_number_.

[2020-03-02 03:49] xandao6 commented on #133
You need to work with browser_config.py and little with target_search.py

[2020-03-02 03:53] xandao6 commented on #124
@Yash1256 I will assign this issue to you. Check out how our current search engine works and create one that looks for targets in another way.

[2020-03-02 03:55] xandao6 commented on #105
Assigned to you, read about "Pyinstaller"

[2020-03-02 04:00] xandao6 commented on #87
You need to find the right CSS Selector for the message, open your whatsapp web and try to undestand this.
![image](https://user-images.githubusercontent.com/22106326/75644464-286b0580-5c21-11ea-9d37-9cc03f3a1c29.png)

[2020-03-02 05:37] amruta-n commented on #105
Ok I'll do it, thank you

[2020-03-02 08:03] Neelaksh-Singh commented on #145
SUCCESSFULLY installed and executed

[Beginners.docx](https://github.com/rpotter12/whatsapp-play/files/4274130/Beginners.docx)

[2020-03-02 11:46] poojasahu10 commented on #130
@xandao6 : I want to clarify one point - Do we need to suggest for target from the contact list or just the the list of recently used targets in the whatsapp launch page ?

[2020-03-02 12:24] poojasahu10 commented on #130
@xandao6 : I am interested to work on this issue. kindly assign it to me. Thanks.

[2020-03-02 15:15] preeti13456 commented on #145
Successfully compiled and Executed
![wplay imp](https://user-images.githubusercontent.com/36129347/75689152-b947ec80-5cc6-11ea-8c4b-fed129c1d2d3.png)

[2020-03-02 15:21] NikhileshKatakam commented on #148
Intrested sir

[2020-03-02 16:56] NikhileshKatakam commented on #145
SUCCESSFULLY installed and executed
![k nikhilesh software installed](https://user-images.githubusercontent.com/55126546/75698522-e3081000-5cd4-11ea-81be-58b29950b62e.png)
![k nikhilesh tracking command](https://user-images.githubusercontent.com/55126546/75698525-e4393d00-5cd4-11ea-8d9f-7ba88dcfc8a1.png)

[2020-03-02 19:45] Castella1313 commented on #79
@xandao6 can you please elaborate the issue a little more.
what is the role of making a group?
Should it be able to listen the messages through our laptop's microphone or some external fitted into the Arduino will work?
Do I have to add the code used for coding the Arduino also into the repository?

[2020-03-03 00:39] xandao6 commented on #130
@poojasahu10 just pause the program, let the person choose the target, then the program identify the target choosed and start

[2020-03-03 00:44] xandao6 commented on #79
We created a whatsapp group like: "My home" and sent a message to the group from our smartphone. The computer receives the message and sends it to a local network where the microcontroller is connected. We don't need the arduino code for now, just teach how to use.

[2020-03-03 00:45] xandao6 commented on #79
@Castella1313 tell if you want to work in this issue.

[2020-03-03 10:00] priyansh19 opened #175 "Create a seperate CONTRIBUTION.md file"
Adding a Separate file for contribution guidelines

[2020-03-03 10:38] anmolkaur18 commented on #175
I am interested in this.Please assign this to me

[2020-03-03 10:45] Neelaksh-Singh commented on #145
These are the screenshots for successful installation of wplay.
Also one can see the tracker feature in action.
![image](https://user-images.githubusercontent.com/56018436/75768290-1648ae80-5d6a-11ea-87b8-d5fb935f88a6.png)
![image](https://user-images.githubusercontent.com/56018436/75768341-2791bb00-5d6a-11ea-9fab-adbbcf078b07.png)

![image](https://user-images.githubusercontent.com/56018436/75768

[2020-03-03 10:59] #149 closed

[2020-03-03 11:19] Neelaksh-Singh commented on #128
i would definitely like to take it up using python .
@xandao6 , @rpotter12  can u please assign it to me

[2020-03-03 12:17] Castella1313 commented on #79
So basically I have to add a command which will create a new group?
And the messages sent on that group will be performed by the
microcontroller?
Which means, I just have to do the software work?

On Tue, 3 Mar 2020, 06:15 Alexandre Calil, <notifications@github.com> wrote:

[2020-03-03 12:25] kancherlakishorereddy commented on #77
I spent the last few days learning threading and scheduling. I am learning how to use pyppeterr. In less than a few days, I will go on and implement this feature. So can you extend the deadline by three more days?

[2020-03-03 12:40] preeti13456 commented on #143
Type Annotations
1. src < onlinetracker.png >
![onlinetracker](https://user-images.githubusercontent.com/36129347/75775904-f10f6c80-5d78-11ea-929f-93bc503ecc24.png)

2. src <messagetime.png>
![messagetimer](https://user-images.githubusercontent.com/36129347/75776111-59f6e480-5d79-11ea-8d30-6a5cb1649a2f.png)

3. src < tgbot.py >
![tgbot py](https://user-images.githubusercontent.com/36129347/7577656

[2020-03-03 13:01] poojasahu10 commented on #130
@xandao6 : From the pyppeteer module : I found that if waited for the selector whatsapp_selectors_dict['target_focused_title'] and whatsapp_selectors_dict['message_area'] our use case can be solved. Kindly let me know if I am missing any edge case or I will continue to raise a pull request. Thanks.

[2020-03-03 13:14] rpotter12 commented on #145
@preeti13456 @Neelaksh-Singh @07ATUL Add execution screenshot in the screenshot folder, commit them and open a PR of it. :)

[2020-03-03 13:18] anmolkaur18 commented on #145
<img width="672" alt="wplay1" src="https://user-images.githubusercontent.com/53399726/75779374-58440700-5d0e-11ea-8ebe-7747ee153767.png">

<img width="944" alt="wplay2" src="https://user-images.githubusercontent.com/53399726/75779403-6560f600-5d0e-11ea-84c3-bbfd27da793b.png">

<img width="526" alt="wplay5" src="https://user-images.githubusercontent.com/53399726/75779417-6c880400-5d0e-11ea-9bae-421

[2020-03-03 13:25] rpotter12 commented on #145
Read the above comment(https://github.com/rpotter12/whatsapp-play/issues/145#issuecomment-593943941)

[2020-03-03 13:27] rpotter12 commented on #145
@Yash1256 read the comment(https://github.com/rpotter12/whatsapp-play/issues/145#issuecomment-593943941)

[2020-03-03 13:28] rpotter12 commented on #148
@sim12cool Please explain your whole idea here. :)

[2020-03-03 13:31] rpotter12 commented on #154
@shvamabps everyone has his/her own telegram-bot token. The idea of -wtb was to enter the token everytime whenever we run that command.

[2020-03-03 13:33] shvamabps commented on #154
In that case the user has to always keep his token with himself. It may be annoying not at once but when done multiple time.

[2020-03-03 18:01] Yash1256 commented on #145
@rpotter12 Now what we have to do more in this sir??

[2020-03-03 18:08] Yash1256 commented on #139
@csharp489 It is working fine with the emoji,
![Yash1256](https://user-images.githubusercontent.com/56587507/75805261-81fd3c80-5da7-11ea-89ab-c4349f795f1a.png)

[2020-03-04 00:58] #175 closed

[2020-03-04 00:59] xandao6 commented on #175
@anmolkaur18 we already have that issue open and it's assigned to someone else.

[2020-03-04 01:18] xandao6 commented on #79
The wplay sofware need to read the message, you can wait for #77  if you want. Then, they will be sended through MQTT or HTTP GET. Tell me when you is ready to be assigned.

[2020-03-04 01:20] xandao6 commented on #77
@kancherlakishorereddy I will extend for 4 days

[2020-03-04 01:22] xandao6 commented on #143
Looks good, send your PR when you finish

[2020-03-04 01:26] xandao6 commented on #130
@poojasahu10 Yes, that's a good idea. Before that print out for the person to choose the target. And after the person chooses, we need to ask the person to confirm the target.

[2020-03-04 01:31] xandao6 commented on #139
It doesn't happen for everyone.

[2020-03-04 02:01] Castella1313 commented on #79
Is there any deadline for this?

On Wed, 4 Mar 2020, 06:48 Alexandre Calil, <notifications@github.com> wrote:

[2020-03-04 02:17] amandhamija98 commented on #144
Hi, I am facing a slight hiccup while resolving this issue and it's taking longer than I expected. Could I please get two more days

[2020-03-04 02:27] shvamabps commented on #31
Can you extend the deadline for this issue??

[2020-03-04 04:50] Yash1256 commented on #139
@xandao6 the search pattern which we are following is not dependent on the platform as I know, I have done the same in mac and for ubuntu I didn't encounter any error but if it is happening in windows can u explain me what's the reason of happening of this?

[2020-03-04 07:53] anmolkaur18 commented on #145
@rpotter12 sir please check I have made a pull request.

[2020-03-04 08:36] kancherlakishorereddy opened #183 "pyppeteer.TimeoutError: timeout exceeds 30000ms exceeds"
I've forked and cloned the repo recently and on running the "__main__.py" file, for wchat, WhatsApp web opens in chromium and selects the search bar, but the target name doesn't go into the search bar neither does the target chat page opens and a few seconds later the browser closes, then the process gets killed and shows the timeout error.
![Screenshot from 2020-03-04 13-21-44](https://user-image

[2020-03-04 10:21] Yash1256 commented on #183
The same functionality is happening with me
I have also tried `wplay -wt "any_name"` it is not showing in that command even to.

[2020-03-04 10:56] SinghHimadri commented on #145
@rpotter12 Please have a look at my PR. I guess there are no errors.

[2020-03-04 11:06] poojasahu10 commented on #130
@xandao6 @rpotter12 :  I have raised PR [link](https://github.com/rpotter12/whatsapp-play/pull/184) for this issue. Its failing for circleci tests, I would like to know more about it. Kindly review the same .

[2020-03-04 11:19] poojasahu10 commented on #84
@xandao6 : I have an idea for this issue. Once PR : [link](https://github.com/rpotter12/whatsapp-play/pull/184) is merged. I would like to discuss the idea.

[2020-03-04 11:55] Ratna04priya opened #186 "Recommendation System for Whatsapp-play (Idea)"
I would like to add a recommendation system for WhatsApp-play. This could be done by using machine learning, analysing the previous data of the user on the basis of what they write or could write.  That would be very helpful for the user to write, or can be used for spelling mistakes.

[2020-03-04 16:09] SinghHimadri commented on #142
I would like to work on this issue. Can this issue be assigned to me?

[2020-03-04 16:13] ayushbathrey commented on #186
I wouldn't call it a recommendation system, but a quick reply feature.

[2020-03-04 16:17] SinghHimadri commented on #122
I would like to work on this issue. Please assign it to me.

[2020-03-04 16:39] poojasrinivass commented on #142
I would like to work on this issue

[2020-03-04 16:40] poojasrinivass commented on #135
I would like to work on this issue. Can it be assigned to me?

[2020-03-04 16:42] poojasrinivass commented on #102
I would like to work on this issue.

[2020-03-04 16:44] rpotter12 commented on #154
@shvamabps we can do that once user enter the token, it will update that token value and then whenever we run -wtb command the software will not need to enter token every time, but remember software should always ask for token because if a user want to enter a new token then that option will help.

[2020-03-04 16:46] shvamabps commented on #154
@rpotter12  we can provide that option too
If the user want to change the token / add a new one.

[2020-03-04 18:02] Ratna04priya commented on #186
Yeah, but it can recommend as well... works by the same fact!

[2020-03-04 23:22] xandao6 commented on #183
some selectors was changed, they need to be updated.

[2020-03-05 01:28] xandao6 commented on #79
day 5, but I will extend for more 4 days since there is no one in queue

[2020-03-05 01:30] xandao6 commented on #79
You aren't assigned yet, so you don't have deadline. I will assign you and you will have 4 days + renew if there is no queue

[2020-03-05 01:33] xandao6 commented on #144
@preeti13456 you can accept or reject the comment above

[2020-03-05 01:35] xandao6 commented on #139
I don't know, it's an error with decoding the emoji. The error also doesn't happen with me in windows 10.

[2020-03-05 01:36] xandao6 commented on #31
Sure, more 4 days, you can ask more ultil there is someone in queue

[2020-03-05 01:39] xandao6 commented on #130
CircleCI isn't well configured

[2020-03-05 01:40] xandao6 commented on #84
@poojasahu10 I'm waiting for someone to fix the selectors first, then I will test and merge your PR and assign you here.

[2020-03-05 01:41] xandao6 commented on #122
@SinghHimadri  on queue

[2020-03-05 01:42] xandao6 commented on #135
@poojasrinivass added to queue

[2020-03-05 01:43] xandao6 commented on #102
@poojasrinivass assigned, you have 4 days + renew if there is no one in queue

[2020-03-05 01:48] xandao6 opened #187 "Selectors changed"
Apparently there were some changes on the whatsapp web site and some selectors have changed, I need you to check all the selectors located in the helpers file.

[2020-03-05 01:51] preeti13456 commented on #144
Accept

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Alexandre Calil <notifications@github.com>
Sent: Thursday, March 5, 2020 7:03:23 AM
To: rpotter12/whatsapp-play <whatsapp-play@noreply.github.com>
Cc: preeti13456 <preetijecrc99@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [rpotter12/whatsapp-play] Get full info about one target (Idea)

[2020-03-05 01:52] preeti13456 commented on #144
Almost think about what has to be done but due to the recent changes facing some problems .

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Preeti Sharma <Preetijecrc99@outlook.com>
Sent: Thursday, March 5, 2020 7:21:30 AM
To: rpotter12/whatsapp-play <whatsapp-play@noreply.github.com>; rpotter12/whatsapp-play <reply@reply.github.com>
Cc: Mention <mention@nor

[2020-03-05 02:26] amandhamija98 commented on #187
Can I be assigned this please

[2020-03-05 04:54] Antaripa commented on #135
I need few days for solving this issue.

[2020-03-05 05:10] rpotter12 commented on #145
@Yash1256 please read the first comment. That comment specifies what you have to do in this issue. :)

[2020-03-05 06:23] priyansh19 commented on #142
I would like to work on this Issue
Already added a file in my PR : https://github.com/priyansh19/whatsapp-play/blob/master/CONTRIBUTION.md

[2020-03-05 07:30] #148 closed

[2020-03-05 08:02] priyansh19 opened #188 "Adding New Workflows for faster reply and reviews of code"
It includes:
- Leaving a comment on a new PR.
- Adding new Continous Integration Tool
- Adding new PR review tool

[2020-03-05 08:03] priyansh19 commented on #188
I will Like to work on this issue

[2020-03-05 08:03] priyansh19 commented on #188
please assign it to me :)

[2020-03-05 12:18] SubhradeepSS commented on #133
@xandao6 can u please extend the deadline for the completion of the issue?

[2020-03-05 12:21] csharp489 commented on #139
But why I am facing this issue .May be some access is denied in my system. Please tell me what i have to do now? @xandao6
Do I need to proceed with the same or need to workout on other issue.

[2020-03-05 15:34] rpotter12 commented on #186
@Ratna04priya I don't think this will be a good idea to implement recommendation system in this project for now. We can keep this idea for the future scope. :)

[2020-03-05 15:34] #186 closed

[2020-03-05 15:36] rpotter12 commented on #187
@xandao6 I suggest you should solve this issue asap. Because our software mainly depends on this. :)

[2020-03-05 15:51] amandhamija98 commented on #187
Ok, I'll check this tonight

[2020-03-05 15:53] amandhamija98 commented on #187
This is the selector that has been changed :  'search_contact_input_new_chat': '#app > div > div span > div > span > div > div > div > label > div > div:last-of-type',
Haven't checked the others but I think they're the same

[2020-03-06 02:21] xandao6 commented on #142
This issue will be closed

[2020-03-06 02:23] xandao6 commented on #142
@Antaripa  You need to open a PR to our master branch! You has merged it into your own repository.

[2020-03-06 02:24] xandao6 commented on #142
@priyansh19 After we merge her PR you can edit it.

[2020-03-06 02:29] xandao6 commented on #135
@Antaripa sorry, we have a queue. The issue will be assigned to @poojasrinivass. You can enter in queue again @Antaripa.

[2020-03-06 02:34] xandao6 commented on #139
If you're able to solve then solve, if not look for another issue.

[2020-03-06 02:34] xandao6 commented on #133
Extended +4d

[2020-03-06 02:36] xandao6 commented on #187
Ok

[2020-03-06 02:39] xandao6 commented on #21
@mridubhatnagar deadline extended +4d

[2020-03-06 02:41] xandao6 commented on #43
@msk4862 deadline extended +4d

[2020-03-06 02:44] xandao6 commented on #82
@amandhamija98 deadline extended +4d

[2020-03-06 02:46] xandao6 commented on #87
@safurazaheer  deadline extended +4d

[2020-03-06 02:47] xandao6 commented on #105
@amruta-n deadline extended +4d

[2020-03-06 02:48] xandao6 commented on #122
@navi532 You will be unassigned and added to queue. @SinghHimadri  You will be assigned.

[2020-03-06 02:50] xandao6 commented on #123
@Bhanu-mbvg deadlined extended +4d

[2020-03-06 02:51] xandao6 commented on #124
@Yash1256 deadlined extended +4d

[2020-03-06 02:55] xandao6 commented on #143
@preeti13456 deadlined extended +4d. Send your PR please.

[2020-03-06 02:57] xandao6 commented on #144
@amandhamija98 You will be unassigned at day 8.

[2020-03-06 02:59] xandao6 commented on #155
@BhanujaAggarwal deadline extended +4d

[2020-03-06 02:59] xandao6 commented on #167
@07ATUL deadline extended +4d

[2020-03-06 03:00] xandao6 commented on #183
#187

[2020-03-06 03:00] #183 closed

[2020-03-06 03:30] #187 closed

[2020-03-06 04:04] preeti13456 commented on #143
Thanks will do asap

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Alexandre Calil <notifications@github.com>
Sent: Friday, March 6, 2020 8:25:28 AM
To: rpotter12/whatsapp-play <whatsapp-play@noreply.github.com>
Cc: preeti13456 <preetijecrc99@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [rpotter12/whatsapp-play] Type Annotation (#143)

@p

[2020-03-06 07:03] 07ATUL commented on #167
Thanks

[2020-03-06 08:34] Castella1313 commented on #167
Can this issue be assigned to me?

[2020-03-06 08:35] Castella1313 commented on #155
Can this issue be assigned to me?

[2020-03-06 17:41] BhanujaAggarwal commented on #145
Installation Done !
@xandao6 @rpotter12 look at my PR

[2020-03-06 17:42] BhanujaAggarwal commented on #145
![BhanujaAggarwal](https://user-images.githubusercontent.com/33261795/76108069-e61a3d80-5fff-11ea-9137-e2e7add6befd.png)

[2020-03-06 18:00] priyansh19 commented on #155
@Castella1313 We can't assign you this issue as it is already assigned to @BhanujaAggarwal

[2020-03-06 22:21] xandao6 commented on #167
@Castella1313  added to queue

[2020-03-06 22:24] Castella1313 commented on #155
@priyansh19 can you please add me in queue?

[2020-03-06 22:26] xandao6 commented on #155
added to queue

[2020-03-07 06:45] SubhradeepSS commented on #133
Can you explain a bit more as I have not worked on web,therefore facing difficulty?

[2020-03-07 09:18] brainaxe123 commented on #145
![installed_brainaxe123](https://user-images.githubusercontent.com/48864918/76140644-bbbd9400-6082-11ea-9cce-6aa2d42cb7dd.JPG)
![tracking_command_brainaxe123](https://user-images.githubusercontent.com/48864918/76140647-bf511b00-6082-11ea-84ae-1a3438968161.JPG)

[2020-03-07 09:28] brainaxe123 commented on #105
Read about pyinstaller, would like to work on this issue.

[2020-03-07 11:17] SinghHimadri commented on #122
I have done some work wanted to show you just to make sure working in right direction.Shall I make a draft PR?

[2020-03-07 13:28] xandao6 commented on #133
what is the problem?

[2020-03-07 13:32] xandao6 commented on #133
user write a number instead a string -> make this differentiation with logic
When its number you need to create a new tab, there is a function to do that in browser_config
Then you need to load the url: wa.me/number, also there is a function in browser_config
Wait the page to load and it's done.

All this logic above you can put in target_search

[2020-03-07 13:36] xandao6 commented on #122
ok

[2020-03-07 13:36] xandao6 commented on #105
@brainaxe123 added to queue

[2020-03-07 13:37] amandhamija98 commented on #144
I've submitted a pull request

[2020-03-08 03:01] #130 closed

[2020-03-08 04:45] priyansh19 commented on #142
Assign this task to me I will edit it @xandao6

[2020-03-08 05:14] csharp489 commented on #139
@Yash1256 @xandao6  can u please check all these Given example as test cases.
😋Any_Name😋
🙄Any🙄Name😊
🤣Any🤣2🤣Name🤣

Please check all these test cases. Meanwhile I am looking for another issue.

[2020-03-08 06:59] poojasahu10 commented on #84
@xandao6 : Kindly assign this issue to me. Thanks.

[2020-03-08 07:39] priyansh19 commented on #142
Added Basic Contribution guidelines
will update it soon with few more additions :)

[2020-03-08 08:22] Castella1313 commented on #79
can I please get 3 more days?

[2020-03-08 10:01] Neelaksh-Singh commented on #132
![image](https://user-images.githubusercontent.com/56018436/76160631-bf6c1c00-6151-11ea-914e-6a8e464ae525.png)

this is the current status of my installation

[2020-03-08 10:51] rpotter12 commented on #132
@Neelaksh-Singh install transitions library by `pip install transitions`

[2020-03-08 12:46] Neelaksh-Singh commented on #145
Installed the software successfully .
![image](https://user-images.githubusercontent.com/56018436/76163025-da965600-6168-11ea-8824-36f5497eecdb.png)

![image](https://user-images.githubusercontent.com/56018436/76163038-e550eb00-6168-11ea-8e36-064f53754f8a.png)
![image](https://user-images.githubusercontent.com/56018436/76163048-f8fc5180-6168-11ea-959f-6aad30916e38.png)

[2020-03-08 12:47] Neelaksh-Singh commented on #132
![image](https://user-images.githubusercontent.com/56018436/76163067-13362f80-6169-11ea-8182-3fb5ccf233a2.png)

Done sir.
Thank U

[2020-03-08 12:55] SwaraliDinkar commented on #167
I want to work on this issue.Please assign!

[2020-03-08 13:02] SwaraliDinkar commented on #145
Successfully installed!
![Screenshot from 2020-03-08 17-58-23](https://user-images.githubusercontent.com/43184066/76163327-1cc09700-616b-11ea-92b0-918ae40eb47e.png)

[2020-03-08 13:24] rpotter12 commented on #145
@SwaraliDinkar You have you add your screenshot in screenshots folder and then create a PR for it.

[2020-03-08 13:28] #142 closed

[2020-03-08 13:35] rpotter12 commented on #79
@Castella1313 Go ahead :)

[2020-03-08 14:36] xandao6 commented on #84
@poojasahu10  assigned

[2020-03-08 14:40] #132 closed

[2020-03-08 14:45] xandao6 commented on #167
@SwaraliDinkar added to queue

[2020-03-08 15:03] xandao6 commented on #139
working..

[2020-03-08 15:53] HarsheetKakar commented on #102
Can I take it on?

[2020-03-08 21:03] suubh commented on #167
Assign this issue to me .

[2020-03-08 22:35] Pihu1998 commented on #120
Hey, I would like to work on this issue. Can I be assigned this issue?

[2020-03-08 23:02] Pihu1998 commented on #81
Hey, I would like to work on this issue. Can you provide me with some insights of it? It would be really helpful. :)

[2020-03-09 07:37] HarsheetKakar commented on #61
Even if we use threads when we synchronize it to wait for one contact to load and check its status, wouldnt the output would be similar to what we see in a loop?

[2020-03-09 07:42] HarsheetKakar commented on #87
can you give the url of slack channel? @xandao6

[2020-03-09 07:59] poojasahu10 commented on #84
@xandao6 : Can you elaborate this use case? Is it to save all the media from the contact on local machine disk or to download the media content manually when auto download is disabled for a contac.

[2020-03-09 08:32] kancherlakishorereddy commented on #77
I am Struck at extracting content from the return handles. I am working on it, but i might need few more days. Can you extend the last date?

[2020-03-09 08:35] SinghHimadri commented on #122
I have sent a draft pull request please review, suggest changes. I have added a few sample instances please specify the format of the logger and more loggers that I need to add.

[2020-03-09 08:45] thakran14 commented on #145
kindly assign this issue to me.

[2020-03-09 09:56] poojasrinivass commented on #102
I need a little more time to work on it

[2020-03-09 10:07] nileshpatra commented on #120
@Pihu1998 it's probably on us, instead of participants.
We need to squash + force-push, and force-push would mean maintainer access to the repository.

A PR can only update the repository by placing commits on top, and not change the order of commits set earlier.

[2020-03-09 10:10] Pihu1998 commented on #120
Oh, I get it now. Thanks for the information. :D

[2020-03-09 10:23] HarsheetKakar commented on #102
Tell me the ones u are working on and i will do the others. Points for each test remember?

[2020-03-09 10:40] poojasrinivass commented on #102
I have tried to do multiple. So you pick what you want and I will continue with the rest.

[2020-03-09 11:34] manaswitatyagi commented on #20
Is the issue still active? I am really interested in taking it up.

[2020-03-09 11:43] dogexan opened #204 "chromium isn´t starting"
The installation was successful. (v6.0.0)

Then I tried to use the tracking comand `python3 -m wplay -wc "test"` and got the following result:

![wPlay-chromium-bug](https://user-images.githubusercontent.com/56969158/76209618-8e97ef80-6202-11ea-89e1-4e89dfaedcc9.PNG)

There are no Chromium windows appearing (QR Code or anything else)

[2020-03-09 12:05] manaswitatyagi commented on #21
Please let me know, if I can work on this issue later on.
Thanks!

[2020-03-09 12:08] manaswitatyagi commented on #31
@xandao6 , I am really interested in working on  this issue. It seems like the deadline is over so do you mind assigning me to it?

[2020-03-09 13:43] HarsheetKakar commented on #204
tried downloading chromium separately?

[2020-03-09 13:57] HarsheetKakar commented on #102
Is it working now? Because im still having the same issue of QR code

[2020-03-09 14:54] HarsheetKakar commented on #155
[code]
Can we save page and browser to session?
This code is not working since chromium wont launch whatsapp again

[2020-03-09 15:00] dogexan commented on #204
After the automatic installation by wplay, chromium ist installed under:
C:\Users\alexa\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\Local\pyppeteer\pyppeteer\local-chromium\575458\chrome-win32

![chrome-path](https://user-images.githubusercontent.com/56969158/76226024-944efe80-621d-11ea-8970-77cf4b9c0432.PNG)

I tried to start the "chrome.exe" manually. But

[2020-03-09 15:04] HarsheetKakar commented on #204
can you please translate the error in powershell? and give the complete error information given in the chromium tab?

[2020-03-09 15:42] dogexan commented on #204
Translation of powershell output:
"This application could not be started because the side-by-side configuration is incorrect. For more information, see the application event log. Further details can also be viewed with the command line tool sxstrace.exe"

![Ereignisanzeige](https://user-images.githubusercontent.com/56969158/76230882-ab451f00-6224-11ea-9be3-5c1c4b0009e9.PNG)

Error generating the a

[2020-03-10 04:26] poojasrinivass commented on #102
Can you tell me what you're working on?

[2020-03-10 13:15] HarsheetKakar commented on #204
try opening chromium as admin, if it works then change folder privileges.

[2020-03-10 14:10] dogexan commented on #204
Run as admin doesn't change anything.

Can I change the installation path of chromium in "wplay"?

I have the same problems with an other Windows 10 PC too.

[2020-03-10 19:51] safurazaheer opened #209 "Automating the task of sending messages via setting timer(Idea)"
Sometimes, we need to send birthday wishes at a specific time but we forget to do so due to our hectic schedule. We can achieve this by setting the timer beforehand and the message will be send to that person at our desired time.

[2020-03-10 19:56] safurazaheer commented on #87
@xandao6 I tried scrapping through selenuim and beautiful soup but I think this wont work fine coz it wont give the runtime result i.e we wont get the current message.

[2020-03-11 04:44] SinghHimadri commented on #111
Can you please describe this issue in little detail.

[2020-03-11 16:38] Castella1313 commented on #155
@xandao6 @priyansh19 pressing Ctrl+c will solve the problem I guess.

[2020-03-12 05:07] shreyakapoor08 commented on #145
Can i take up this issue?

[2020-03-12 13:16] #167 closed

[2020-03-12 13:17] xandao6 commented on #81
@Pihu1998 Assigned

[2020-03-12 13:21] xandao6 commented on #61
yes, but a loop block the program

[2020-03-12 13:23] xandao6 commented on #84
@poojasahu10 the first option, open the gallery and download the media to the disk.

[2020-03-12 13:29] xandao6 commented on #122
@SinghHimadri Hey, just error and info it's ok.  You could save the logs in just one file called logs.log inside a folder logs

[2020-03-12 13:33] xandao6 commented on #20
@manaswitatyagi assigned

[2020-03-12 16:41] kamal-kaur04 commented on #85
Hey, @xandao6 Can you explain about the issue?

[2020-03-12 16:57] poojasahu10 commented on #84
@xandao6 : I could download the media from one contact but it auto saves to downloads folder and both sent and received media is downloaded. Please let me know if the implementation scenario is correct and I will then raise a PR. Thanks.

[2020-03-12 19:16] payal-98 commented on #128
I like to work on this..can u assign it to me?

[2020-03-12 19:18] payal-98 commented on #85
I like to work on this..can us assign it to me?

[2020-03-12 20:40] Rits1272 commented on #209
May I work on this?

[2020-03-13 04:02] xandao6 commented on #122
@SinghHimadri  could you send your PR? or the issue will be unassigned

[2020-03-13 04:06] xandao6 commented on #21
@manaswitatyagi assigned

[2020-03-13 04:07] xandao6 commented on #31
@manaswitatyagi assigned

[2020-03-13 04:09] xandao6 commented on #102
Both of you are working on this issue?

[2020-03-13 04:12] xandao6 commented on #204
32 bits or 64 bits? doesn't work with 32 bits

[2020-03-13 04:14] xandao6 commented on #209
@Rits1272  assigned

[2020-03-13 04:16] xandao6 commented on #87
@HarsheetKakar You are a GSSOC participant?

[2020-03-13 04:16] xandao6 commented on #87
@safurazaheer we use pyppeteer, we don't use selenium.

[2020-03-13 04:19] HarsheetKakar commented on #87
yes

[2020-03-13 04:21] HarsheetKakar commented on #102
sorry for the delayed response,
I am figuring out the application at the moment, will directly send the PR if I make any progress... if thats ok

[2020-03-13 04:23] xandao6 commented on #87
@safurazaheer isn't hard to get the last message. You can do this with this selector:
`#main > div > div > div > div > div:last-child > div > div > div > div.copyable-text > div`

[2020-03-13 04:24] xandao6 commented on #87
@HarsheetKakar search for proj_whatsapp-play inside gssoc slack

[2020-03-13 04:27] xandao6 commented on #111
It wasn't very well designed, you can have your own idea, but the main idea is to remove the CLI and put a menu like the one we have in session_manager

[2020-03-13 04:28] xandao6 commented on #155
@HarsheetKakar  what do you mean?

[2020-03-13 04:29] xandao6 commented on #155
The solution to this issue is to add a thread to go back to menu while stay tracking.

[2020-03-13 04:29] xandao6 commented on #155
At the same time we need to show that we are tracking in a place

[2020-03-13 04:30] xandao6 commented on #155
@Castella1313  assigned

[2020-03-13 04:32] xandao6 commented on #84
@poojasahu10 ok

[2020-03-13 04:32] xandao6 commented on #128
@payal-98 assigned

[2020-03-13 04:35] xandao6 commented on #85
@kamal-kaur04 assigned, @payal-98 added to queue

[2020-03-13 04:38] #144 closed

[2020-03-13 04:40] xandao6 commented on #135
@Antaripa assigned again!

[2020-03-13 04:44] xandao6 commented on #143
@preeti13456 can you send your PR again with the changes?

[2020-03-13 04:48] xandao6 commented on #105
@brainaxe123 assigned

[2020-03-13 05:52] saks1209am commented on #135
I had opened this issue and I know how to do this. I have already done this task, how can u assign it to someone else

[2020-03-13 08:11] SinghHimadri commented on #122
I am sending PR, please extend it for a few hours.

[2020-03-13 09:27] rpotter12 commented on #128
@aryangulati @payal-98 please explain what you are planning to do in this issue.

[2020-03-13 18:19] amandhamija98 commented on #82
Hey, I have just started work on this as I was hoping to use the same approach in issue 144. That got approved today, may i get some more time please. Thank you

[2020-03-13 18:41] payal-98 commented on #128
If a chatbot has to built without using ML as u told  ..then it will ans the few incoming request based on defined keyword

[2020-03-13 22:06] poojasrinivass commented on #102
I am still working on it.

[2020-03-14 04:21] priyansh19 commented on #135
Your name will be added in Queue for this issue if @Antaripa is still unable to solve the issue then after the deadline you will be assigned this issue
wait for the deadline date i.e 17th march

[2020-03-14 05:26] 19isha98 commented on #145
![wplay_run](https://user-images.githubusercontent.com/42314217/76675733-71886580-65e2-11ea-98b5-acb4f87f50b2.jpg)

[2020-03-14 07:38] SnegaRamesh commented on #105
i would like to work on this

[2020-03-14 07:45] 19isha98 commented on #145
I have uploaded a screenshot of successful execution in my system

[2020-03-14 09:22] amandhamija98 commented on #86
could you please describe this a bit more. Does 'about' here refer to the status if the whatsapp contact?

[2020-03-14 14:05] Meenakshi2000 commented on #145
Can I too do this one?

[2020-03-14 15:09] xandao6 commented on #124
@amandhamija98 assigned

[2020-03-14 15:10] amandhamija98 commented on #124
Hi, I would like to work on this. I'll be making an alternate search method by using the normal search option for contacts, not the new chat button

[2020-03-14 15:10] xandao6 commented on #124
@amandhamija98  assigned, @Yash1256 added to queue

[2020-03-15 15:24] poojasahu10 commented on #84
@xandao6 : I am trying with one approach with expose function can I get an extension on this issue ?

[2020-03-15 16:33] xandao6 commented on #84
yes

[2020-03-16 03:56] zulkernine commented on #145
Plz assign me this issue.

[2020-03-16 06:18] zulkernine commented on #145
![Screenshot from 2020-03-16 11-46-49](https://user-images.githubusercontent.com/53091788/76728152-eb078b80-677b-11ea-924a-9f6f471f0e02.png)

I'm getting some error here , please help

[2020-03-16 06:42] zulkernine opened #217 "Change target person during chat in CLI(idea)"
Once chat started (wchat) with a person, we've to restart the application to change target name.
Adding an option to change the target person during 'wchat' will make the application more flexible.

[2020-03-16 11:37] zulkernine commented on #217
Please assign me this issue.

[2020-03-16 11:40] zulkernine commented on #217
@xandao6 please assign me this issue.

[2020-03-17 16:33] SinghHimadri commented on #111
I would like to work on this issue please assign it to me.

[2020-03-17 16:39] SinghHimadri commented on #143
Is this issue completed or I would like to work on this.

[2020-03-17 16:41] SinghHimadri commented on #102
Can I also work on this issue if there are points for each test case?

[2020-03-18 00:05] rpotter12 commented on #145
@shreyakapoor08 @19isha98 @zulkernine @Meenakshi2000 Go ahead in solving this beginners issue.

[2020-03-18 04:59] Rits1272 commented on #86
May I work on this?

[2020-03-18 05:23] SinghHimadri commented on #122
@xandao6 @rpotter12 Please have a look at my PR. I guess there are no errors.

[2020-03-18 05:43] Meenakshi2000 commented on #145
Thank you for your response , I will surely work on it

On Wed, Mar 18, 2020, 5:36 AM Rohit Potter <notifications@github.com> wrote:

[2020-03-18 06:11] #209 closed

[2020-03-18 07:02] zulkernine commented on #217
I made a commit to solve this issue. please view the PR #222 . Here's a screenshot demonstrating the feature.
![issue217_demonstration1](https://user-images.githubusercontent.com/53091788/76934099-80d61e80-6914-11ea-9db9-b445803a963b.png)

[2020-03-18 11:28] Meenakshi2000 opened #223 "issue #145"

[2020-03-18 11:42] priyansh19 commented on #223
This Issue is still open .. as begginers issue #145

[2020-03-18 11:43] priyansh19 commented on #223
@rpotter12 please close this issue

[2020-03-18 11:58] amandhamija98 commented on #124
I have submitted a pull request: https://github.com/rpotter12/whatsapp-play/pull/224
Kindly let me know if it is ok

[2020-03-18 15:40] #223 closed

[2020-03-18 19:38] Rits1272 opened #226 "Document the new scheduler message functionality"
The user can now send a message to a target at a specified time.

Additional Context: Working on it

[2020-03-19 06:47] amandhamija98 commented on #80
Hi, I would like to work on this issue, could I please be assigned

[2020-03-19 08:02] shvamabps commented on #155
ctrl  + c will show exit tracebacks but what @xandao6  is saying is correct. The option to change the user to track must be there and also to go back or stop tracking after certain times of tracking like in ping we can manage the times of packets that are needed to be sent or cancel the ping after sending a certain number of packets ( ping -c 3 <url> )

[2020-03-19 08:03] shvamabps commented on #31
@manaswitatyagi  where have you reached to this issue
as  I guess the time is also extended for this

[2020-03-19 10:59] kichloo commented on #145
@xandao6 Made the PR.

[2020-03-20 14:50] rpotter12 commented on #124
@amandhamija98 Thanks :)

[2020-03-20 14:50] #124 closed

[2020-03-20 16:06] Aman-Codes opened #230 "Add issue template"
@rpotter12 @xandao6  I am a GSSOC participant and I would like to add an issue template folder with bug report, feature request and pull request template
## Screenshots
### Bug report
![bug report](https://user-images.githubusercontent.com/54680709/77220483-80cd5d00-6b66-11ea-8685-2751fa20c0c2.PNG)

### Feature Request
![feature request](https://user-images.githubusercontent.com/54680709/77220495-

[2020-03-21 09:47] priyansh19 opened #233 "Create a new Pull_Request_Template"
This will help the users while creating the PR's as they will discuss the changes and the files changed and all the features this PR will be adding.

- Sample Pull_Request_Template: https://github.com/apache/spark/blob/master/.github/PULL_REQUEST_TEMPLATE

- To take help from Docs: https://help.github.com/en/github/building-a-strong-community/creating-a-pull-request-template-for-your-repository

[2020-03-21 12:10] meghanagottapu commented on #145
@rpotter12 I made a pull request

[2020-03-21 12:15] meghanagottapu commented on #105
@xandao6 can I work on this issue?

[2020-03-21 17:25] Aman-Codes commented on #233
@priyansh19 I would like to work on this issue please assign me this issue. I have already created a template so do let me know if you need any changes in it.
## Screenshots
### Pull Request
![pull request](https://user-images.githubusercontent.com/54680709/77220497-9c386800-6b66-11ea-9d0a-72820d72a239.PNG)

[2020-03-21 20:30] xandao6 commented on #20
@manaswitatyagi any news?

[2020-03-21 20:31] xandao6 commented on #21
@mridubhatnagar  re-assigned

[2020-03-21 20:31] xandao6 commented on #31
@shvamabps re-assigned

[2020-03-21 20:32] xandao6 commented on #43
@msk4862 still working on it?

[2020-03-21 20:33] xandao6 commented on #77
@kancherlakishorereddy how is it going?

[2020-03-21 20:34] xandao6 commented on #79
@Castella1313 how is it going?

[2020-03-21 20:34] xandao6 commented on #80
@amandhamija98 assigned

[2020-03-21 20:35] xandao6 commented on #81
@Pihu1998 how is it going?

[2020-03-21 20:36] xandao6 commented on #82
@amandhamija98 how is it going?

[2020-03-21 20:36] xandao6 commented on #84
@poojasahu10 how is it going?

[2020-03-21 20:37] xandao6 commented on #85
@payal-98  your turn.

[2020-03-21 20:38] xandao6 commented on #87
@safurazaheer how is it going?

[2020-03-21 20:39] xandao6 commented on #102
@HarsheetKakar your turn, @poojasrinivass unassigned

[2020-03-21 20:40] xandao6 commented on #105
@SnegaRamesh assigned

[2020-03-21 20:41] xandao6 commented on #111
@SinghHimadri assigned

[2020-03-21 20:41] #122 closed

[2020-03-21 20:42] xandao6 commented on #123
@Bhanu-mbvg how is it going?

[2020-03-21 20:43] xandao6 commented on #128
@Neelaksh-Singh wanna finish your work?
@payal-98 how is it going?

[2020-03-21 20:44] xandao6 commented on #133
how is it going?

[2020-03-21 20:44] xandao6 commented on #135
@saks1209am assigned!

[2020-03-21 20:45] #143 closed

[2020-03-21 20:46] xandao6 commented on #154
@shvamabps how is it going?

[2020-03-21 20:49] xandao6 commented on #155
how is it going? Anyone is working or wanna work on this issue?

[2020-03-21 20:50] xandao6 commented on #217
nice

[2020-03-21 20:53] #226 closed

[2020-03-21 20:56] HarsheetKakar commented on #102
@xandao6 I am already working on an issue ATM, would it be ok if someone else can do it?

[2020-03-21 21:21] smriti111 commented on #77
Hi! i'm intrested to work on this issue.

[2020-03-21 22:02] xandao6 commented on #77
@smriti111 assigned

[2020-03-21 23:56] Castella1313 commented on #155
I am working on this issue. Can I get few more days?

[2020-03-21 23:56] Castella1313 commented on #79
I am still working. Need some more time.

[2020-03-22 03:10] xandao6 commented on #79
ok

[2020-03-22 03:11] xandao6 commented on #155
ook

[2020-03-22 03:16] kancherlakishorereddy commented on #77
Hi, I couldn't finish that last part .  It's better someone else work in that. @smriti111 if  you would like to know about my approach or something else contact me on slack. All the best👍👍

[2020-03-22 04:05] priyansh19 commented on #204
Your Computer architecture is based on 32bit architecture as in screenshots

[2020-03-22 04:05] priyansh19 commented on #204
So wplay won't work on it

[2020-03-22 04:05] priyansh19 commented on #204
@xandao6 @rpotter12 please close this issue

[2020-03-22 04:08] priyansh19 commented on #217
:+1:

[2020-03-22 04:13] priyansh19 commented on #120
@xandao6 @rpotter12 @nileshpatra
Anyone working on this issue?

[2020-03-22 08:10] amandhamija98 commented on #82
Hi, I am working on implementing this feature in the new target search, will send a PR soon

[2020-03-22 09:07] csharp489 opened #240 "Showing Error on tracking the person whose read-receipt is off."
When I try to track a person whose read-receipt is off on whatsapp, then it shows an error that **No contact named by "Any_Name"!** and also give an **UnboundLocalError**.
I think this is very wrong representation. We should simply give a statement that tracking data is unable to find.(use some conditional statement).
![tracking](https://user-images.githubusercontent.com/42842260/77246168-91ef9a00

[2020-03-22 09:14] dogexan commented on #204
Sorry for the late reply.

I have a 64bit System. I tried chromium 64bit and 32bit without success.
![systeminfo](https://user-images.githubusercontent.com/56969158/77246253-c43ad080-6c25-11ea-8efe-131990de856a.png)

![systeminfo2](https://user-images.githubusercontent.com/56969158/77246272-efbdbb00-6c25-11ea-9065-03957dedc1ac.png)

[2020-03-22 09:16] csharp489 opened #241 "Even the Module is present BUT still it is giving ModuleNotFoundError"
When I try to run Message Bombing command it gives as error that **ModuleNotFoundError: No module named 'pyfiglet'** Even I have already installed the pyfiglet module.
![mesgBomb](https://user-images.githubusercontent.com/42842260/77246295-d0398900-6c4b-11ea-9507-57ddeb2756fb.PNG)

[2020-03-22 10:17] SinghHimadri commented on #102
I am interested.

[2020-03-22 10:44] priyansh19 commented on #102
@xandao6 please assign this to @himadrisingh she had started working on it :)

[2020-03-22 15:39] mridubhatnagar commented on #21
@xandao6 just wanted to confirm that are you folks using the existing docker file in the repo?

[2020-03-22 23:20] xandao6 commented on #120
I think nobody

[2020-03-22 23:30] xandao6 commented on #21
@mridubhatnagar nobody is using it, it's an old file.

[2020-03-22 23:31] xandao6 commented on #102
@SinghHimadri assigned

[2020-03-22 23:33] xandao6 commented on #241
Hello, install pyfiglet and any other module with the following command:
`python3 -m pip install pyfiglet`

[2020-03-22 23:34] xandao6 commented on #241
When you install with by pip you are probably installing the module for python 2.

[2020-03-22 23:35] xandao6 commented on #204
@dogexan  How you are installing wplay?

[2020-03-22 23:39] xandao6 commented on #240
We have a new version that has not yet been published in pypi. Try it.
Open a terminal and follow the commands:
`git clone https://github.com/rpotter12/whatsapp-play.git`
`cd whatsapp-play`
`python3 -m wplay -wt "sapna strps"`

[2020-03-23 01:29] #230 closed

[2020-03-23 01:31] #233 closed

[2020-03-23 01:44] #86 closed

[2020-03-23 05:36] Rits1272 commented on #80
Can I work on this issue @xandao6 @rpotter12? I think that @amandhamija98 is working on #82.

[2020-03-23 05:52] Rits1272 opened #242 "Update readme with change about functionality"
Updating the readme for the merged PR #237

[2020-03-23 08:45] zulkernine commented on #217
Should I close this issue now?

[2020-03-23 08:57] zulkernine opened #244 "Add methods/options to send media/file through wchat ( Idea )"
Currently we can send text messages only. But we often need to send media files ( pictures or videos) or documents ( pdf, .TXT, .docx etc) . Adding such features will increase the functionality.

[2020-03-23 12:23] #217 closed

[2020-03-23 12:31] xandao6 commented on #80
@Rits1272 people can work in more than one issue, wait for more 3 days to be assigned.

[2020-03-23 12:31] sanujana045 commented on #145
How to upload the screenshot and made the pull request...? anyone help me please.!

[2020-03-23 12:34] xandao6 commented on #244
@zulkernine wanna be assigned?

[2020-03-23 12:57] zulkernine commented on #244
Yes .

[2020-03-23 13:15] Aman-Codes opened #245 "Update CONTRIBUTING.md"
---
name: Feature request
about: Update CONTRIBUTING.md
title:
labels:
assignees:

---

**Is your feature request related to a problem? Please describe.**
The CONTRIBUTING.md file lacks proper instructions for beginners to contribute on this project and should be updated.

**Describe the solution you'd like**
I would like to update CONTRIBUTING.md to include the above mentioned features
* How to c

[2020-03-23 13:21] iharshit009 commented on #84
@poojasahu10 if you aren't working on this, than @xandao6 could I work on it?

[2020-03-23 13:29] rpotter12 commented on #84
@iharshit009 You are assigned :)

@poojasahu10 is responding from a long time.

[2020-03-23 13:31] iharshit009 commented on #84
thanks @rpotter12 I am starting my work on this

[2020-03-23 13:35] rpotter12 commented on #111
@xandao6 Please elaborate this idea here. I'm not understanding what is the main purpose of this idea?

[2020-03-23 13:37] rpotter12 commented on #120
I will look at this in some days. I'm little busy these days.

[2020-03-23 13:47] rpotter12 commented on #145
@sanujana045 Please read the starting comment of the issue :)

[2020-03-23 13:48] rpotter12 commented on #145
@kichloo Read the comment in the PR

[2020-03-23 14:02] rpotter12 commented on #241
Use command `pip list` to list all the packages installed by you. Check if pyfiglet is there or not.

[2020-03-23 14:06] rpotter12 commented on #240
@csharp489 Use exact name of the person. The script is showing `No contact named by "sapna strps"`

[2020-03-23 14:15] rpotter12 commented on #204
@dogexan I don't know the exact problem but it might be similar to https://sichernpc.de/fragt-uns/wie-behebt-man-in-windows-den-fehler-die-anwendung-konnte-nicht-korrekt-gestartet-werden-0xc000007b/

[2020-03-23 14:27] rpotter12 commented on #21
@mridubhatnagar That was the initial file but was implemented fully.

[2020-03-23 14:31] rpotter12 commented on #21
Our script uses pyppeteer package which opens a chrome browser when the scripts starts. So we have to make dockerfile like this that it opens a browser for docker image.

[2020-03-23 15:02] zulkernine commented on #244
Should I make different options for Image/video sharing and docx/pdf sharing or a single options to share any file ??

[2020-03-23 15:31] dogexan commented on #204
@xandao6
I installed python 3.8 via Microsoft Store (I also tired python 3.7)

Open Powershell -->

`PS C:\Users\alexa> python -m pip install wplay                                                                                                                                                                                               Collecting wplay
  Using cached https://files.pythonhosted.org

[2020-03-23 18:29] Rits1272 commented on #133
May I work on this issue @xandao6 @rpotter12?

[2020-03-23 18:48] #242 closed

[2020-03-23 18:58] rpotter12 commented on #204
I dunno know. I don't use windows so I can't answer this :)

[2020-03-23 20:00] payal-98 commented on #128
I made a chatbot using dialogflow that is running on commandline...
Now integration with whatsapp has to done

[2020-03-23 20:03] payal-98 commented on #128
I made a chatbot using dialogflow that is running on commandline..
Now I am integrating it with whatsapp

[2020-03-23 20:07] iharshit009 opened #247 "Duplication of Commands in README"
![Screenshot from 2020-03-24 01-35-28](https://user-images.githubusercontent.com/44135316/77358421-d6c12100-6d6f-11ea-85b3-b5f4d7103afc.png)
![Screenshot from 2020-03-24 01-35-47](https://user-images.githubusercontent.com/44135316/77358425-d7f24e00-6d6f-11ea-8d03-7e991df25271.png)

[2020-03-23 20:15] amandhamija98 commented on #82
Hi, I have submitted a PR, kindly review it. Thanks

[2020-03-23 20:16] amandhamija98 commented on #80
Hi, for getting news, I would have to web scrape, right? If so, are there any particular sights I should target?

[2020-03-23 23:08] Ajil5467 commented on #105
I would like to work on this issue.

[2020-03-24 07:05] csharp489 commented on #241
Now, it is working . Thanks for the instant reply.

[2020-03-24 12:24] #241 closed

[2020-03-24 12:25] #240 closed

[2020-03-24 12:38] saks1209am commented on #135
I will upload the solution as an XML file which can be opened only using Uipath studio. If unable to see the solution i will try to share the video of my solution

[2020-03-24 12:41] saks1209am opened #251 "Design an infographic for this project"
A logo or a poster type gif should be created for this project so that we can upload it on wiki.

[2020-03-24 19:08] Rits1272 commented on #80
I think you can also use an API. There are already many news api

[2020-03-24 21:08] amandhamija98 commented on #80
Thanks, I'll explore that.
Could I please extend my deadline, I need more time to do this

[2020-03-25 05:56] Aman-Codes opened #253 "Add CODE_OF_CONDUCT.md"
**Is your feature request related to a problem? Please describe.**
No CODE_OF_CONDUCT.md file is present.

**Describe the solution you'd like**
@rpotter12 As a GSSOC participant I would like to add a CODE_OF_CONDUCT.md file in this project.

**Additional context**
### Screenshots

![code of conduct1](https://user-images.githubusercontent.com/54680709/77505634-beddc000-6e89-11ea-9dd5-f1e13ef6c6c9.P

[2020-03-25 06:49] #245 closed

[2020-03-25 07:16] xandao6 commented on #80
@Rits1272 you could say yes or no to @amandhamija98, the deadline is in 1 day.

[2020-03-25 07:25] xandao6 commented on #111
@ rpotter12 instead of having to call "wplay -wb target", we can just call "wplay" and then we will have a menu to choose the option, and we can switch from one option to another.

[2020-03-25 10:11] dogexan commented on #204
What operating system do you use? Maybe I will try this in VirtualBox

[2020-03-25 10:44] saks1209am commented on #145
![wplay1](https://user-images.githubusercontent.com/30996074/77528307-b13d3000-6eb3-11ea-84a8-1eb3a33dcdfc.jpg)
I'm getting this error after running the tracking command

[2020-03-25 14:44] xandao6 commented on #204
I use windows, but I don't know what's going on.

[2020-03-25 14:45] #244 closed

[2020-03-25 14:48] xandao6 commented on #247
where is the duplication?

[2020-03-25 14:51] #247 closed

[2020-03-25 21:11] Rits1272 commented on #80
@amandhamija98 currently I am not working on any other issue. So kindly can you please let me take this issue?

[2020-03-26 01:31] amandhamija98 commented on #80
@Rits1272 , sure ,go ahead

[2020-03-26 03:33] Aman-Codes commented on #253
@rpotter12  Sir can you please share your email id which I can add in this file where participants can report any unacceptable behavior .

[2020-03-26 10:13] Rits1272 commented on #80
Please assign this issue @xandao6 @rpotter12

[2020-03-26 10:51] #133 closed

[2020-03-26 13:44] iharshit009 commented on #84
@rpotter12 @xandao6 I am getting difficulty in finding the nodes for the selectors Could you please help out??

    'media_links_docs':'#app > div > div > div._2aMzp > div._10V4p._1mseJ > span > div > span > div > div > div._3s5Z_ > div._2LSbZ._2j5ir._2ZVEo > div._3EN0l > div > div > div._1kz4p.VfNCr > span',
    'contact_name': '#main > header > div._1SwuT > div > img',
    'select_media_tick' :

[2020-03-26 20:18] Rits1272 commented on #84
@iharshit009 please remove the dynamic classes name from the selector. They change every time on load

[2020-03-26 21:37] Rits1272 commented on #81
May I work on this issue @xandao6 @rpotter12?

[2020-03-27 02:51] rpotter12 commented on #253
Email - rohitpotter12@gmail.com

[2020-03-27 02:56] rpotter12 commented on #111
https://homepage.cs.uri.edu/~thenry/resources/unix_art/ch01s06.html
Please stick to these rules only.

[2020-03-27 02:56] #111 closed

[2020-03-27 02:57] #251 closed

[2020-03-27 14:06] iharshit009 commented on #155
Hi @xandao6 @rpotter12 can I work on this issue?

[2020-03-27 15:45] Neelaksh-Singh commented on #128
@xandao6  i have made a chatbot using flask, implementing it using twilio , all of it running on my heroku platform. I have taken the help of dialogflow to test on some predefined test case.
i would definitely be looking forward to completing the task

[2020-03-27 15:58] shwhite17 commented on #253
will you please add this assign to me?

[2020-03-27 18:18] #253 closed

[2020-03-27 18:21] #80 closed

[2020-03-27 18:26] rpotter12 commented on #155
Start working on it :)

[2020-03-28 03:54] xandao6 commented on #43
We already have the initial ElectronJS files!

[2020-03-28 04:26] xandao6 commented on #84
@iharshit009 yes, like @Rits1272  said, try not to use: first-child, nth-child(2), last-of-type.
In your whatsapp web, try to get the selectors using development tools (press F12 in Chrome) and ensure that works every time.

[2020-03-28 04:44] xandao6 commented on #145
Update your fork or clone.

[2020-03-28 04:45] xandao6 commented on #188
This was done @priyansh19 @rpotter12 ?

[2020-03-28 05:05] priyansh19 commented on #188
Yes .. it's done

[2020-03-28 05:08] priyansh19 commented on #188
I have created a PR a week back .. adding Greetings.yml , Stale.yml , Labeler.yml

[2020-03-28 08:15] rpotter12 commented on #188
Why does they fails every time??

[2020-03-28 10:27] priyansh19 commented on #188
@rpotter12 check them in GitHub actions.. they have several restrictions
when participants doesn't follow them they fails
Not every time they fails ..

On Sat, Mar 28, 2020 at 1:45 PM Rohit Potter <notifications@github.com>
wrote:

[2020-03-28 10:35] priyansh19 commented on #188
It need a little bit of modification .. I do it Soon

On Sat, Mar 28, 2020 at 3:57 PM Priyansh Gupta <priyansh7533053411@gmail.com>
wrote:

[2020-03-28 11:07] priyansh19 commented on #204
Hey @dogexan,
I am not sure but can you try to make a Linux virtual machine and install wplay in it
It will a lot simpler if you know how to use AWS free virtual machines.
Spin Up a Linux Virtual Machine in AWS or any cloud .. connect to it using SSH and then try installing wplay in it .. It will work most probably

[2020-03-28 11:10] priyansh19 commented on #204
It does worked with 4 participants .. And don't forget to stop Instead of terminating your instance after using it

[2020-03-28 15:22] amandhamija98 opened #260 "Get all information when the target is a group"
Currently we get name, contact number, last seen, status and groups in common if the target is a contact.
We should extract all such information possible if the target is a group

[2020-03-28 15:23] amandhamija98 commented on #260
May I please be assigned this issue

[2020-03-28 15:54] tyren542 opened #261 "Error when downloading chromium"
Hi, when i try to download chromium to start the tracking i get this error, what could i do to fix it?

`? ***Session Manager***:  Create a new session
? Write your first name or username to save:  ciao
[W:pyppeteer.chromium_downloader] start chromium download.
Download may take a few minutes.
Process Killed!
Traceback (most recent call last):
  File "C:\Users\Manuel\miniconda3\lib\site-packages\u

[2020-03-28 17:44] rpotter12 commented on #261
@tyren542 It might be related to #126 issue.

[2020-03-28 19:52] tyren542 commented on #261
Thank you, with your help i solved this problem with chromium, now i have another one, when the contact i choose to track goes online the file status_contactname does not get updated, how do i make the script save the data? I have to end the script with a specific command instead of just closing it?

[2020-03-28 21:16] Rits1272 opened #262 "Get all types of news in wnews module"
Currently, the `wnews` module only gives coronavirus news
Additional Context: Working on it

[2020-03-29 06:20] BhargavDesai36 commented on #155
Can this issue bo assigned to me?

[2020-03-29 07:02] iharshit009 commented on #155
@BhargavDesai36 I am on my way to get this issue solved...

[2020-03-29 07:06] iharshit009 commented on #84
@xandao6 I just got a query, I have looked over the best way to solve it.. that is to select all the images through a checkbox tick on top of all the images... but those tick appear only when you tick at least one of the pics...

So I could not go with the above approach and now I need to download each image and move to the next  image.. and continue till the end ...

@rpotter12 @xandao6 Could you

[2020-03-29 10:43] #262 closed

[2020-03-29 10:48] rpotter12 commented on #261
use `ctrl + c` to end the script.

The script tracks the data and save that data in wplay folder. I'm not understanding what you exactly want to say??

[2020-03-29 15:54] dogexan commented on #204
Ok, I tried it in Ubuntu 19.10 and it works fine. I don´t know where the Problem is in my Windows installations. So if no one else has the same problem as me, then I would say we close this issue. It seems to be a problem only for me.

Many thanks for your support

[2020-03-30 03:14] #204 closed

[2020-03-30 20:51] #81 closed

[2020-03-31 05:28] #82 closed

[2020-03-31 05:34] xandao6 commented on #102
@SinghHimadri Do you will continue to work in this issue?

[2020-03-31 05:40] #188 closed

[2020-03-31 05:42] xandao6 commented on #84
you can click in person name and open the gallery, then you can find your way to download the data

[2020-03-31 05:48] xandao6 commented on #84
Look how he does: https://github.com/rpotter12/whatsapp-play/pull/266

[2020-03-31 05:48] xandao6 commented on #84
You should download not only images but all media, but is just for one contact

[2020-03-31 06:32] SinghHimadri commented on #102
Yes, I am writing more tests I would request you to keep me assigned.

[2020-03-31 08:29] Rits1272 commented on #77
@xandao6 @rpotter12 can I work on this issue?

[2020-03-31 12:01] priyansh19 commented on #21
@mridubhatnagar any update on this issue ?

[2020-03-31 14:53] Rits1272 opened #268 "feature: Change status in about with news of the user choice"
Currently, the `changeAbout.py` changes the status with only the total coronavirus count. The user should have the choice to change the news in his about section according to the **category** or **keyword** he opts.

[2020-04-01 17:01] #78 closed

[2020-04-02 11:11] Neelaksh-Singh commented on #128
So should i create a pull request for the same

[2020-04-02 11:14] Neelaksh-Singh opened #271 "Text to speech conversion"
The idea is to create a python code for text to speech conversion , which could be implemented with the message blast

[2020-04-02 11:14] Neelaksh-Singh commented on #271
@xandao6  I would like to take it up in python.

[2020-04-02 12:24] priyansh19 commented on #271
@xandao6 @rpotter12 anyone of you please assign this task to @Neelaksh-Singh

[2020-04-02 13:38] SinghHimadri commented on #128
I would like to work on this issue please assign it to me.

[2020-04-02 13:45] SinghHimadri commented on #21
I would like to work on this issue please assign it to me.

[2020-04-02 22:16] xandao6 commented on #271
@Neelaksh-Singh You will use Google API?

[2020-04-02 23:03] xandao6 opened #273 "Broadcast Idea"
Load a file with phone numbers and send a message to all of them! The difference between this and the Whatsapp broadcast in smartphone is that we can send message even if we don't have that contact!

[2020-04-02 23:04] xandao6 commented on #21
@SinghHimadri Assigned

[2020-04-02 23:07] xandao6 commented on #128
@Neelaksh-Singh You can continue, @SinghHimadri in Queue

[2020-04-03 05:46] kichloo commented on #85
@xandao6 I am a beginner on Github and would like to work on this issue. Can I get some help regarding it?

[2020-04-03 11:46] Neelaksh-Singh commented on #128
Sir can u guide me as to how i share my project since i have used twilio
and heroku services.
should i directly share my project folder with you?

On Fri, 3 Apr 2020 at 04:38, Alexandre Calil <notifications@github.com>
wrote:

--
Neelaksh Singh

[2020-04-03 15:47] rpotter12 commented on #271
@Neelaksh-Singh elaborate more about this. What you are gonna do in messageblast??

[2020-04-03 16:03] Neelaksh-Singh commented on #271
Basically it will convert a users text into speech , which we can implement
with our message blast for continuous pinging the respective person.

On Fri, 3 Apr 2020, 9:17 pm Rohit Potter, <notifications@github.com> wrote:

[2020-04-03 17:42] thakran14 commented on #105
I would like to work on this issue.

[2020-04-04 04:53] rpotter12 commented on #271
You mean to say to send the audio messages??

[2020-04-04 21:50] xandao6 commented on #85
I suggest you test the pyppeteer first. Read the documentation and write a simple program like login on Instagram. Then you will be ready to work on this issue.

[2020-04-04 21:52] xandao6 commented on #128
I don't know anything about twilio and heroku, you aren't able to integrate with our project?

[2020-04-04 21:53] xandao6 commented on #155
@BhargavDesai36 assigned

[2020-04-04 21:56] xandao6 commented on #271
@rpotter12 It's different he will convert the text from your friend into audio

[2020-04-05 08:31] Neelaksh-Singh commented on #271
yes both ur points are valid, further in future this feature can be implemented with various functionality of this project.

[2020-04-05 19:32] #260 closed

[2020-04-05 19:38] #268 closed

[2020-04-06 14:15] zulkernine commented on #273
I would like to work on this. I just got a reference that how to send message through api.whatsapp.com, here's a link of it : https://www.androidpit.com/send-whatsapp-message-without-adding-contact-to-address-book . Can i implement it here? Or please suggest some better ways.

[2020-04-06 15:53] xandao6 commented on #273
@zulkernine I'm refactoring the project and I already included this feature to send message to unknown number. I will release it soon. So wait for my release to start working on this issue.

[2020-04-06 16:15] zulkernine commented on #273
Ok. I'm waiting ☺️

[2020-04-06 18:35] rpotter12 commented on #271
@xandao6 please explain why this is needed??

[2020-04-07 14:39] csharp489 commented on #271
It should be **speech to text conversion** just like our google assistant. Text to speech is not needed because It will read all the commands from one point to the last point. It is not needed. I have some scripts related to it because I worked on a project where I have used it. But I don't know how to apply those scripts in whatsapp-play. Can any one let me know how to apply those scripts in it.

[2020-04-07 15:12] xandao6 commented on #271
@rpotter12 I don't know, just for fun

[2020-04-07 18:20] rpotter12 commented on #271
@csharp489 Just put your link of scripts here. :)

@xandao6 This is not really needed in this project. We can do that to convert the text into audio file and send it to the target person. This can be used in many other scripts like messageblast, chatting scripts etc.

[2020-04-07 19:45] zulkernine commented on #273
What is the type of the file ?
In which format will it contains those numbers??

[2020-04-07 22:20] xandao6 commented on #273
a simple txt, 1 number per line:

9194848948
4848946548
4684848648

[2020-04-08 02:04] zulkernine commented on #273
Alright

[2020-04-08 03:30] zulkernine commented on #273
Should I use that api to send message to unsaved number?
In that case , whatsapp web will be opened in the new tab again, thus it would take a very long time.
So what should I do??

[2020-04-08 05:20] csharp489 commented on #271
@rpotter12  Here is the link .Please check it
https://github.com/csharp489/KAREN-An-A.I.-U.I./blob/master/speechRecognition.py
https://github.com/csharp489/KAREN-An-A.I.-U.I./blob/master/speekmodule.py

Well, I agree with you @rpotter12  We can also share our message in audio form to the target person.

[2020-04-08 05:29] ahmed-gelemli opened #278 "ImportError: cannot import name 'Deque'"
`C:\Users\ahmed\OneDrive\Desktop\whatsapp-play>python -m wplay -h`
[code]
My **Python** version is:
`Python 3.6.0`

[2020-04-08 05:31] rpotter12 commented on #271
@csharp489 create a function using that code and call that function where u want to use these code.

[2020-04-08 08:11] Sapna2001 opened #279 "Update Readme"
Readme can be updated with details of mentors,admins,slack channels and details of gssoc. Please assign me this issue.

[2020-04-08 09:47] xandao6 commented on #273
use this method: search_and_select_target. It will detect the number and load the page, without opening a new one

[2020-04-08 09:48] xandao6 commented on #273
so you can put it in a for loop:
[code]

[2020-04-08 13:56] ahmed-gelemli opened #280 "FileNotFoundError: [Errno 2] No such file or directory: '/home/username/wplay/logs/wplay.log'"
`username@MY-PC:~/whatsapp-play$ wplay
`
[code]

If Someone Knows the Solution to this Error Please Help.
Thanks!

[2020-04-08 15:34] rpotter12 commented on #279
@Sapna2001 I don't think details mentors,admins,etc etc is needed in readme. Mentors are permanent for the project. This is a normal project as other are there on GitHub. It is just a part of GSSOC20

[2020-04-08 15:34] #279 closed

[2020-04-08 16:00] zulkernine commented on #273
I got the idea :)
I'm starting to implement it .
I'll make the commit soon.

[2020-04-08 18:08] xandao6 commented on #278
https://stackoverflow.com/questions/60011092/importerror-cannot-import-name-deque

[2020-04-08 18:09] rpotter12 commented on #280
@ahmed-gelemli You need to install python3.6.1+ version

[2020-04-08 18:12] rpotter12 commented on #278
@ahmed-gelemli Install python3.6.1+ version. This will solve your problem.

[2020-04-08 18:12] #278 closed

[2020-04-08 19:02] xandao6 commented on #280
@rpotter12  he is using python 3.7

[2020-04-08 19:04] ahmed-gelemli commented on #280
Yes, I am using Python 3.7 but same issue

[2020-04-08 19:05] xandao6 commented on #280
@ahmed-gelemli you can create this file manually: '/home/username/wplay/logs/wplay.log'.
I will verify why the file wasn't created automatically.

[2020-04-08 19:22] ahmed-gelemli commented on #278
I installed Python 3.7, but a new issue appeared. I reported this issue here > #280 .

`FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\ahmed\\wplay\\logs\\wplay.log'`

[2020-04-08 19:39] xandao6 commented on #280
@ahmed-gelemli  bug fixed, wait for @rpotter12 to merge the PR.

[2020-04-08 19:43] rpotter12 commented on #280
Ahhh....I have commented on this issue by mistakenly.

[2020-04-08 19:48] rpotter12 commented on #79
https://github.com/KarimJedda/whatsappcli maybe this can help in this.

[2020-04-08 20:08] zulkernine commented on #273
Searching the target(through number) more than once gives this pop up. How to disable this pop up ?
[1904.05104.pdf](https://github.com/rpotter12/whatsapp-play/files/4452584/1904.05104.pdf)
![WhatsApp Image 2020-04-09 at 1 34 56 AM](https://user-images.githubusercontent.com/53091788/78828719-c44b1680-7a02-11ea-8170-4aa496ef24ef.jpeg)
![WhatsApp Image 2020-04-09 at 1 36 40 AM](https://user-images.g

[2020-04-08 20:13] zulkernine commented on #273
My code is ready for commit except this issue(Mentioned upper).

[2020-04-08 20:22] zulkernine commented on #273
Should I assume all the numbers are correct and has a whatsapp account?
Number will contain country code or not?

I implemented it in such a way that if country code is provided then alright otherwise indian country code is used.

[2020-04-08 21:36] xandao6 commented on #273
https://stackoverflow.com/questions/46669788/how-to-handle-popups-in-puppeteer

[2020-04-08 21:39] xandao6 commented on #273
skip the number if error and log a message.

[2020-04-09 00:02] #280 closed

[2020-04-09 03:46] priyansh19 opened #282 "Adding Calendar view in CLI to set important dates and events"
We will add a calendar in our wplay cli option to schedule a reminder of events and important dates

[2020-04-09 05:39] zulkernine commented on #273
Existing target_search method exit the program if wrong number is used.
So I think , I'm to make a custom function for this case.

[2020-04-09 05:57] zulkernine commented on #273
Following error is skipped in the __try_load_contact_by_number() in target search. Consequently, Though the number is invalid, this function is returning true leading to exit call in __get_focused_target_title(). :(

![Screenshot from 2020-04-09 11-21-35](https://user-images.githubusercontent.com/53091788/78862424-fbe2ae80-7a54-11ea-9bcc-387ad4575ba9.png)

[2020-04-09 06:46] zulkernine opened #283 "Bug in Target_search regarding invalid number"
If invalid number is passed as argument to search_and_select_target in target_search.py or if no account exist  of that number following error is skipped in the __try_load_contact_by_number() . Consequently, though the number is invalid, this function is returning true leading to exit call in __get_focused_target_title().

![IMG_20200409_115025](https://user-images.githubusercontent.com/53091788/7

[2020-04-09 06:48] zulkernine commented on #283
Help Wanted.

[2020-04-09 10:34] xandao6 commented on #273
You will need to watch this message box, using waitForSelector

[2020-04-09 10:36] xandao6 commented on #283
I can fix it on the weekend

[2020-04-09 10:37] xandao6 commented on #273
Think that all numbers are valid, I will fix this in the weekend.

[2020-04-09 11:27] zulkernine commented on #273
Ok

[2020-04-09 12:01] zulkernine commented on #283
Ok.

[2020-04-09 16:18] Rits1272 commented on #87
May I work on this issue @rpotter12 @xandao6?

[2020-04-10 07:15] Neelaksh-Singh commented on #128
Sir please look into the pull request.

[2020-04-10 07:34] thakran14 commented on #105
I working on this issue. Please give me a few more days before assigning it to someone else

[2020-04-10 12:04] sim12cool commented on #145
I have created a pull request for this issue.Uploaded all the required screenshots.

[2020-04-10 15:12] amandhamija98 commented on #283
Can i please be assigned this

[2020-04-10 15:14] amandhamija98 commented on #282
Will this reminder be one in google calendar?

[2020-04-10 15:58] zulkernine commented on #273
A PR is created regarding this issue .
Please review.

[2020-04-10 19:29] rajraman786 commented on #145
sir,
   please assign me.
  i want to work on this.

[2020-04-11 06:57] rajraman786 commented on #145
@rpotter12
may i work on this?

[2020-04-11 07:31] rpotter12 commented on #145
sure @rajraman786. Start working on it. :)

[2020-04-11 07:34] rpotter12 commented on #282
By setting up any remainder will not work if the software is stopped. For this type of issue, our software should keep working all the time.

[2020-04-11 07:35] rpotter12 commented on #283
@amandhamija98 Start working on this. :)

[2020-04-11 09:35] priyansh19 opened #289 "Send Images from CLI (Idea) **efficiently**"
Images should be send through `-wc` option.

[2020-04-11 09:35] priyansh19 opened #290 "Send Audio From CLI (IDEA)"
audio message should be send through `-wc` option.

[2020-04-11 18:33] amandhamija98 commented on #282
I see, currently without running a cron job it wont be possible to send an email on the day the reminder is supposed to be shown. We can use the google calendar API, but we would need to register the project with google cloud platform

[2020-04-11 18:39] amandhamija98 commented on #283
sure

[2020-04-12 04:35] priyansh19 commented on #282
For now .. just for basic functionality Add a callender view in CLI in which reminders can be added , deleted and viewed

[2020-04-12 16:07] amandhamija98 commented on #282
ok, I will look into this

[2020-04-12 18:37] amandhamija98 opened #292 "A script for sending emails through cli."
This idea would involve writing a script for sending emails to a target email address. The inputs would be the sender's email, the receiver's email, the subject and the message.

[2020-04-12 18:37] amandhamija98 commented on #292
May I work on this

[2020-04-12 19:19] rpotter12 commented on #282
@amandhamija98 wait for now. This is not needed yet. Let everybody should clear the whole idea.

[2020-04-12 19:20] rpotter12 commented on #292
@amandhamija98 How it is related to Whatsapp?? Please explain.

[2020-04-12 19:24] amandhamija98 commented on #292
To be honest it isn't, I just thought it could be a useful feature , kind of like the news script

[2020-04-12 19:25] amandhamija98 commented on #282
Sure

[2020-04-13 04:07] priyansh19 commented on #292
We can do one thing that the message will be forwarded to directly a mail .. if that's a possibility

[2020-04-13 04:08] priyansh19 commented on #290
@rpotter12 @xandao6 is it a valid issue ?

[2020-04-13 04:08] priyansh19 commented on #289
@rpotter12 @xandao6 is it a valid issue ?

[2020-04-13 11:08] amandhamija98 commented on #292
Sure that is possible, we'd need the sender's and reciever's email before the chat begins

[2020-04-13 12:01] amandhamija98 opened #293 "Tests for target-search.py"
Write unit test for target-search.py

[2020-04-13 12:02] amandhamija98 commented on #293
Can i work on this

[2020-04-13 14:07] xandao6 commented on #293
sure

[2020-04-13 19:59] #283 closed

[2020-04-14 09:13] cutzenfriend opened #295 "Hide Chrome window?"
Is there a possibility to hide the chrome windows while chatting?

[2020-04-14 09:15] cutzenfriend commented on #77
+1 for this!

[2020-04-14 10:14] jaderrosa opened #296 "Send whatsapp message to a phone number"
Sorry if is not the right place but I would like to know how to send a whatsapp message direct to a phone number using this script.

[2020-04-14 14:53] #273 closed

[2020-04-14 14:55] xandao6 commented on #295
Yes, I have been working on it. I am waiting for the project to become more mature to release.

[2020-04-14 14:57] xandao6 commented on #292
It is possible, but it is a bit annoying for the user since he will have to configure the SMTP server

[2020-04-14 14:59] xandao6 commented on #289
We already can send images through -wc, but we need a better way to do this.

[2020-04-14 15:05] xandao6 commented on #296
Hello, just put the number instead of the name. Remember to use the full number with the country. Example:
`wplay -wc 5562999999999`, work with all scripts.

[2020-04-14 15:29] csharp489 commented on #271
Hello to @rpotter12
As per your suggestion I have created a function and write all the necessary things. In this , I have changed two python files io.py and wchat.py. Here I am attaching code of both the changed python file. Please have a look at let me know what I am missing.   **TAKE YOUR TIME **

**io.py**
[code]
**wchat.py**
[code]

[2020-04-14 16:41] rpotter12 commented on #271
@csharp489 have you tested it yet??

[2020-04-14 16:44] zulkernine commented on #273
What happened? What about that PR?

[2020-04-14 17:51] priyansh19 commented on #290
@xandao6 Can we send audio from CLI ?

[2020-04-14 20:05] #21 closed

[2020-04-15 01:10] #296 closed

[2020-04-15 04:53] csharp489 commented on #271
Yes, I have tested but it is not giving desired output .It is not even taking the print function statement of choice(Speak or Write). I just want to know that do I need to  change only these python files or need to change some other script?

[2020-04-15 05:46] Neelaksh-Singh commented on #128
How do I update .gitignore and requirements.txt accordingly to the bot??

[2020-04-15 13:33] amandhamija98 opened #299 "Show recent chats"
We could show the recent chats either as a part of wchat script itself (before target search is fired)
or as a separate script

[2020-04-15 13:34] amandhamija98 commented on #299
May I be work on this?

[2020-04-16 04:07] SinghHimadri commented on #128
Can this issue be assigned to me now if it's still not done?

[2020-04-16 05:24] SinghHimadri commented on #20
I would like to work on this issue please assign it to me.

[2020-04-16 16:00] xandao6 commented on #290
yees

[2020-04-16 19:39] amandhamija98 commented on #293
HI, I am writing unit tests, should I submit a PR function wise as in per unit test?

[2020-04-17 12:46] SinghHimadri commented on #31
I would like to work on this issue please assign it to me.

[2020-04-18 12:47] chttrjeankr commented on #154
Would you want some help on this one? @xandao6 @rpotter12

My approach will be to save the TOKEN once entered into a local pickle file and load from it the next time the user wants to access the bot. The user will be prompted each time on whether they want to use the existing token or reenter the TOKEN.

[2020-04-18 19:37] #20 closed

[2020-04-18 20:13] shreyakapoor08 commented on #145
@rpotter12 I have raised the PR. Kindly check.
![image](https://user-images.githubusercontent.com/31164665/79670229-1c420400-81df-11ea-9dde-0e2932672a5a.png)

[2020-04-18 22:21] xandao6 commented on #31
@SinghHimadri

[2020-04-18 22:27] #105 closed

[2020-04-18 22:29] #139 closed

[2020-04-18 22:31] xandao6 commented on #123
Now we already have a function to enter in target and get the data, but we don't verify if is the same name.

[2020-04-18 22:33] xandao6 commented on #299
How do you pretend to show the recent chats? Why it will be useful @amandhamija98 ?

[2020-04-18 22:35] xandao6 commented on #154
You can work on this @chttrjeankr

[2020-04-19 06:37] 97shivank commented on #145
![error](https://user-images.githubusercontent.com/31972312/79681242-4c68c180-8236-11ea-9a9f-4c926682646a.png)
I'm getting this error

[2020-04-19 06:48] 97shivank commented on #145
![error](https://user-images.githubusercontent.com/31972312/79681423-d9f8e100-8237-11ea-93e7-a3e2e421eb46.png)
i'm getting this error.

[2020-04-19 08:56] sanujana045 commented on #145
![WhatsApp Image 2020-04-19 at 01 06 11](https://user-images.githubusercontent.com/61049118/79683710-7d062680-8249-11ea-883a-17c44eb7482c.jpeg)
![WhatsApp Image 2020-04-19 at 01 06 08](https://user-images.githubusercontent.com/61049118/79683718-868f8e80-8249-11ea-807f-ce725ad2fe0a.jpeg)
#307 #153
@rpotter12 I have created the pull request..please check it.

[2020-04-19 09:50] rpotter12 commented on #145
Ignore this

[2020-04-19 11:30] 97shivank commented on #145
![shivank_tracking](https://user-images.githubusercontent.com/31972312/79686580-1db31100-825f-11ea-8e3b-042d4afd75a3.png)
@rpotter12 I have raised a PR. Kindly check it.

[2020-04-20 04:49] #154 closed

[2020-04-20 05:06] priyansh19 commented on #290
@xandao6 add labels to this issue

[2020-04-20 07:09] vipuldcoder commented on #145
I am interested working on this issue, Can anyone please do assign me?

[2020-04-20 17:55] ahmed-gelemli opened #310 "Chromium not working."
What I did wrong? Chromium opens, but nothing happens.

**https://streamable.com/ei0p19**

[2020-04-20 18:59] zulkernine commented on #155
What is current status of this issue??

[2020-04-20 19:02] zulkernine commented on #289
🤔🤔
How it would be more efficient for user to sent file through cli?
Should the option for writing a caption be added??

[2020-04-20 19:04] zulkernine commented on #290
Audio can be sent through -wc options . What other methods should be implemented 🤔

[2020-04-20 20:56] amandhamija98 commented on #299
So what I was thinking was, we could show the name and the last message of the recent chats. By recent chats I mean the top few chats that are visible when one opens whatsapp web.

It will be useful because often we do not have a target in mind before messaging them. Sometimes we see our recent chats (which may be unread) and then decide to reply to them.
We could also segregate the unread and rea

[2020-04-21 16:27] xandao6 commented on #310
Windows 10 64bits?

[2020-04-21 16:45] rpotter12 commented on #310
Kindly uninstall the software and install it again. I think the problem is installation.

[2020-04-21 18:07] priyansh19 commented on #290
Yes it is a valid option .. we can add

[2020-04-21 18:08] priyansh19 commented on #289
We can add a separate option to send an image and audio alone

[2020-04-21 18:17] ahmed-gelemli commented on #310
Yep.

[2020-04-21 18:29] ahmed-gelemli commented on #310
Ok, I uninstalled wplay using 'python -m pip uninstall wplay', and reinstalled chromium.

[2020-04-21 18:29] ahmed-gelemli commented on #310
But the same problem occurs.

[2020-04-22 10:42] rpotter12 commented on #310
Share your error screenshot here. :)

[2020-04-22 16:51] priyansh19 opened #314 "Labeler not working in .github actions"
- > .labeler file not working properly
- > adding labels in upcoming PR's like adding gssoc20, hard and beginner label

[2020-04-22 17:49] ahmed-gelemli commented on #310
Umm, I don't know why, but now it's working so well! Thanks! :)

[2020-04-22 17:49] #310 closed

[2020-04-22 17:53] rpotter12 commented on #314
I have removed the labeler as they are always showing error here

[2020-04-22 17:53] #314 closed

[2020-04-22 18:32] Ritacheta commented on #145
![Screenshot (1)](https://user-images.githubusercontent.com/60181987/80019619-74397d00-84f5-11ea-91f1-fb8704a1bde3.png)
![Screenshot (2)](https://user-images.githubusercontent.com/60181987/80019626-78fe3100-84f5-11ea-96dc-9e4bfdffaa45.png)
done with installation. I want to contribute. Can anyone please do assign me??

[2020-04-22 18:44] rpotter12 commented on #145
@Ritacheta create a PULL REQUEST

[2020-04-25 10:09] zulkernine commented on #155
anybody alive?

[2020-04-25 12:55] xandao6 commented on #155
@zulkernine I think nobody is working on this anymore

[2020-04-25 13:03] zulkernine commented on #155
Can I be assigned?
What improve is needed in it ?
Just the changing the target person like feature ? Or anything else?

[2020-04-25 18:27] Ritacheta commented on #145
![Screenshot (4)](https://user-images.githubusercontent.com/64324128/80287701-67fd2c00-8750-11ea-99a1-eb640d22a49a.png)
![Screenshot (5)](https://user-images.githubusercontent.com/64324128/80287704-6af81c80-8750-11ea-8069-6c5b3550ea13.png)
please assign me

[2020-04-25 22:25] vaquersame commented on #145
Hi there.
![Captura](https://user-images.githubusercontent.com/55640630/80292147-a62b2900-8719-11ea-9a56-395b77175563.jpg)
![Captura_2](https://user-images.githubusercontent.com/55640630/80292148-acb9a080-8719-11ea-9314-28ba813b717c.JPG)

 I want to contribute. Can anyone please do assign me?

[2020-04-26 09:46] rpotter12 commented on #145
@vaquersame no need to get assigned in this issue. Start doing this task. :)

[2020-04-29 07:48] arpitasahakundu commented on #120
i want to work on this issue

[2020-04-29 07:58] arpitasahakundu commented on #145
can ido the task now

[2020-04-29 20:18] #31 closed

[2020-04-29 20:19] xandao6 commented on #299
@rpotter12 What do you think?

[2020-04-30 12:25] Satyam3976 commented on #145
![satyam](https://user-images.githubusercontent.com/25302027/80709902-c25d0a80-8b0b-11ea-8aa7-679df0904549.jpg)

[2020-04-30 12:57] rpotter12 commented on #120
@arpitasahakundu That's for me. :)

[2020-04-30 13:07] rpotter12 commented on #299
I think this will be a good idea. :)

[2020-04-30 19:31] anchal7299 opened #326 "Forwarding message received from a group to the selected users."
We can include a new feature where all the messages that we receive in a particular group get automatically forwarded to the selected users.

[2020-04-30 19:54] rpotter12 commented on #326
@anchal7299 this will be a good idea as WhatsApp has restricted to forward a message upto 5 people at a time. So from this feature we can forward message to n number of people.

[2020-05-01 14:27] thakran14 commented on #85
I want to work on this kindly assign it to me

[2020-05-01 20:06] rpotter12 commented on #85
@thakran14 start implementing your idea

[2020-05-02 13:58] saks1209am commented on #135
I have a .xaml file as a solution to this issue which can be opened using uipath studio only. But it will be very difficult to integrate that file with this cmd software

[2020-05-05 13:47] #84 closed

[2020-05-07 20:46] rpotter12 commented on #295
May be it can be done. If you like to work on it please go through https://miyakogi.github.io/pyppeteer/reference.html :)

[2020-05-07 20:47] #77 closed

[2020-05-07 20:48] #102 closed

[2020-05-08 21:11] Rits1272 commented on #43
Can I work on this issue? @xandao6 @rpotter12

[2020-05-09 05:19] SinghHimadri opened #330 "Adding features in Chatbot"
Features like google search images etc. can be added in Chatbot.

[2020-05-09 18:31] rpotter12 commented on #293
@amandhamija98 We are waiting for  your PR

[2020-05-09 18:33] #261 closed

[2020-05-09 18:38] rpotter12 commented on #271
@csharp489 Sorry for a very late response. I think these files will be enough to change. Let's see when you open a PR for it we will test and check where we need change more.

[2020-05-09 18:39] #282 closed

[2020-05-09 18:41] rpotter12 commented on #289
Chatting should be from one option only. All types of chatting should be done from `-wc` command only.

[2020-05-10 01:25] amandhamija98 commented on #293
Sure, I'll link one soon

[2020-05-11 19:41] rpotter12 opened #334 "Not reveiving messages in group chat"
I was trying to test the chatbot. I found a bug that we are not receiving messages in group chat.
I ran the script by - `wplay -wc`, then select the group but I didn't receive the last message in it.

[2020-05-14 06:50] AnkitaBIT commented on #145
<img width="960" alt="wplay1" src="https://user-images.githubusercontent.com/44089458/81902117-39e76b00-95dd-11ea-85eb-5cb913e09bab.PNG">
What issue am I facing? Can you please help @rpotter12

[2020-05-14 14:35] soumyashaw commented on #295
Did anyone take up this issue? If not I would like to

[2020-05-14 16:11] soumyashaw opened #336 "Profile Picture Download for a single user"
The User should be able to check & save the changed profile picture of a target in target's personal folder if he/she uploads a new profile picture in this feature.

[2020-05-14 19:25] rpotter12 commented on #145
It is a timeout error. Reinstall the software and test it again. :)

[2020-05-14 19:27] rpotter12 commented on #295
@soumyashaw Start working on it :)

[2020-05-15 07:14] Rukmini-Meda commented on #145
Can I work on this for GSSoC20?

[2020-05-15 15:24] m-code12 commented on #334
@rpotter12 I would like to work on this . Please assign me .

[2020-05-15 20:16] rpotter12 commented on #334
@m-code12 start working on it :)

[2020-05-16 06:09] m-code12 commented on #334
@rpotter I am receiving and able  to send messages successfully while I run wplay  -wc "Group name"

![image](https://user-images.githubusercontent.com/53649201/82112367-d8a0d280-9769-11ea-8b3f-8171e1a39397.png)

[2020-05-16 06:48] priyansh19 commented on #334
@m-code12 What @rpotter12 mean to say is .. we aren't recieving messages back in terminal

You need to work on that

[2020-05-16 20:09] #145 closed

[2020-05-18 08:23] SinghHimadri commented on #336
I would like to work on this issue.

[2020-05-18 08:25] SinghHimadri commented on #135
Can this issue be explained in little detail.

[2020-05-18 09:41] soumyashaw commented on #336
I'm already working on it bro!

[2020-05-18 09:42] soumyashaw commented on #336
Already working on it bro.

[2020-05-19 06:49] SinghHimadri commented on #87
I would like to work on this issue.Please assign it to me.

[2020-05-19 06:51] SinghHimadri commented on #79
I would like to work on this issue

[2020-05-19 07:27] SinghHimadri commented on #289
Can you explain this issue in detail.

[2020-05-19 10:35] SinghHimadri opened #343 "Save_chat file not working with -pull command"
When python3 -m wplay -pull <target> command entered it didn't worked due to namespace error.

[2020-05-19 14:29] SinghHimadri opened #345 "get_news command not working"
I ran python3 -m wplay -wgn <target>  but gave an UnboundLocalError: local variable 'news_' referenced before assignment.
![Screenshot from 2020-05-19 20-07-18](https://user-images.githubusercontent.com/36266646/82340340-c1354400-9a0c-11ea-9e50-27996df1efc7.png)
second error
![Screenshot from 2020-05-19 20-07-32](https://user-images.githubusercontent.com/36266646/82340400-cdb99c80-9a0c-11ea-9e89-0

[2020-05-19 17:08] SinghHimadri opened #347 "-wa command not working about_changer file."
I used this command but showed an error.
![Screenshot from 2020-05-19 22-37-10](https://user-images.githubusercontent.com/36266646/82356589-63f7bd80-9a21-11ea-9ef7-2fba82844eaf.png)

[2020-05-19 19:05] soumyashaw opened #348 "Target Info fails to fetch data"
The feature of Target info fails to operate and fetch the information requested.

![image](https://user-images.githubusercontent.com/37841510/82367693-d40e3f80-9a31-11ea-8036-f61159ce8ffb.png)

[2020-05-19 20:22] rpotter12 commented on #348
@soumyashaw May be you messed up with your scripts by applying minizing browser feature. :)

[2020-05-19 20:25] #345 closed

[2020-05-19 20:25] rpotter12 commented on #343
@SinghHimadri See my review comment on the PR

[2020-05-21 11:24] SinghHimadri opened #351 "Manual selecting target not working in target_info i.e. wplay -wtf."
I tried manually selecting the target while running -wtf command but displayed error.

[2020-05-21 11:40] SinghHimadri commented on #334
Can I work on this issue now?

[2020-05-21 14:28] HeroicHitesh commented on #326
@rpotter12  I would like to work on this issue if no one is working. Also, please mention the file which needs to be modified.

[2020-05-21 19:33] #351 closed

[2020-05-22 05:06] HeroicHitesh opened #354 "Add colorama to requirements.txt"
Reference PR #353
`colorama` needs to be added to `requirements.txt`
@rpotter12 @priyansh19 I am interested to work on this issue.

[2020-05-22 07:09] HeroicHitesh opened #355 "Whatsapp not opening in full-screen on Chromium"
@rpotter12 @xandao6 @priyansh19
While running `whatsapp-play` if due to some command WhatsApp opens in chromium it is never opening in full screen.
Is it some kind of bug or intended feature?
If it's a bug I would like to work on it so, please direct me to the associated file in codebase so, I can give it a try.

SS of issue
<img width="1194" alt="Screenshot 2020-05-22 at 10 22 16 AM" src="https:/

[2020-05-22 07:17] priyansh19 commented on #355
It's not a bug .. In the main code file the dimensions are intentionally added .. If you want your window to be a full screen then you can change the dimensions on your end 🙂

[2020-05-22 08:08] #355 closed

[2020-05-22 17:25] m-code12 commented on #334
@rpotter12 You can assign the issue to @SinghHimadri .

[2020-05-22 20:12] rpotter12 commented on #354
@HeroicHitesh I would like to suggest add all libraries in requirements.txt which are used in software but not written in requirements.txt file.

[2020-05-23 12:29] HeroicHitesh commented on #354
@rpotter12 have a look at PR #356 it should resolve this issue.

[2020-05-23 12:49] HeroicHitesh commented on #326
@rpotter12 which file contains the code? can you mention the filename so that I can start modifying it according to this issue?

[2020-05-23 21:42] #343 closed

[2020-05-23 21:52] rpotter12 commented on #326
@HeroicHitesh You have to create a new option for it, so you need to create a new file.

[2020-05-24 16:49] SinghHimadri commented on #271
I would like to work on this issue.

[2020-05-24 18:46] SinghHimadri commented on #290
I would like to work on this issue.

[2020-05-24 19:36] #354 closed

[2020-05-24 19:40] #347 closed

[2020-05-25 22:00] #290 closed

[2020-05-25 22:01] rpotter12 commented on #79
@SinghHimadri Start implementing.

[2020-05-26 04:49] SinghHimadri commented on #271
@rpotter12  Currently only by entering the text, it's converted into speech. There should also be an option of inserting a text file and it's audio will be made. Should I implement this?

[2020-05-26 16:48] SinghHimadri opened #359 "Change_about customizable"
In current change about -wa command about is changed according to the top headlines but it should have an option to change it in customized form or news.

[2020-05-26 16:48] SinghHimadri commented on #359
I would like to work on this issue.

[2020-05-28 07:39] soumyashaw opened #361 "save_chat.py Syantax Error"
Forgot to close the Triple Quotes
SyntaxError: EOF while scanning triple-quoted string literal

[2020-05-28 07:53] soumyashaw opened #363 "News Api Sequence"
The News API asks for key even though you don't wanna use that feature. "It should come after user selects that feature!"
![image](https://user-images.githubusercontent.com/37841510/83114234-5bb91580-a0e6-11ea-8e47-72a232d0210f.png)

[2020-05-28 07:57] soumyashaw commented on #348
Working Now

[2020-05-28 07:57] #348 closed

[2020-05-29 23:32] #359 closed

[2020-05-31 04:58] rpotter12 commented on #299
This idea will be more useful when show some recent chats of the particular person. Otherwise showing the recent chats of different persons will not be a useful idea.:)

[2020-05-31 05:06] #336 closed

[2020-05-31 05:10] rpotter12 commented on #271
@SinghHimadri there is no need of this feature. Normally people send some voice message which they have to write in the chat which we have already added.

[2020-05-31 05:10] #271 closed

[2020-05-31 06:08] SinghHimadri commented on #299
@rpotter12  But in the issue it was written if whatsappweb view could be attained. Because initially if we don't have the target in mind so we can have a look at this list and then decide the target. The feature I have added shows all recent chats if it's target specific then we need to know the target beforehand.I did what was mentioned. Please elaborate what needs to be done I'll modify still I

[2020-05-31 14:22] #334 closed

[2020-05-31 14:38] #289 closed

[2020-05-31 14:39] #292 closed

[2020-05-31 14:40] #128 closed

[2020-05-31 14:41] #87 closed

[2020-05-31 14:41] #299 closed

[2020-06-01 18:39] #330 closed

[2020-06-01 18:40] rpotter12 commented on #361
@soumyashaw This has been fixed in recent changes.

[2020-06-01 18:40] #361 closed

[2020-06-04 17:03] himanshujaidka opened #372 "Update read.me file"
What are the tools required for installing this in the system? Update the Readme file.

[2020-06-04 19:40] rpotter12 commented on #372
@himanshujaidka Please read the Installation portion in readme.md file. Everything is clearly written in that :)

[2020-06-04 19:40] #372 closed

[2020-06-05 08:38] himanshujaidka commented on #372
![error](https://user-images.githubusercontent.com/58654018/83855562-e2e53980-a735-11ea-865a-4024201230c8.png)
when I installed, this error came up. pls, help me as I am a beginner.

[2020-06-05 09:56] rpotter12 commented on #372
Not able to view your error image. Create a new issue for your error :)

[2020-06-05 14:30] himanshujaidka opened #373 "Showing Error"
![error](https://user-images.githubusercontent.com/58654018/83888183-1f7d5900-a767-11ea-9841-b6cc89700a18.png)
![Uploading error.png…]()

[2020-06-08 06:49] himanshujaidka commented on #373
Sir pls help me to solve this this issue

[2020-06-21 09:38] samgithub121 opened #374 "Solution to run wplay in automated fashion"
Hello,
           I like the solution for this.I have recommendation like can you make the wplay features as apis from the CLI options?So that It will be helpful to automate based on python wrappers.Like i will write a script check the online status of a specific user for the whole day then at the end of the day send him how much time he spend in whatsapp. Let me know how to work out these rather

[2020-06-21 19:45] rpotter12 commented on #374
@samgithub121 We can do this too. If you like you can implement this :)

[2020-09-06 19:16] wirkoo opened #376 "Opening issue"
When i type python3 -m wplay -wt (or every other available option instead of -wt), It shows me the following error. Please guide

Process Killed!
Traceback (most recent call last):
  File "/usr/lib/python3.8/runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/usr/lib/python3.8/runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "/home

[2020-09-06 20:10] rpotter12 commented on #376
It's better to install this software by `pip3 install wplay` and use like this `wplay -wt`.

I need to know few things:
1. output of `$ pwd`
2. OS?
3. Reinstall pyppeteer library.

It might be possible that whatsapp has changed their HTML format, so it can give this type of error. I will check this and fix this soon.

[2020-09-06 20:35] rpotter12 commented on #376
@wirkoo Whatsapp changes their HTML format every month. So we have old selectors in the script. I will fix this soon and if you like to solve this you are most welcome :)

[2020-09-07 14:35] wirkoo commented on #376
Bro i don't have such experience, i was just trying to use the program. Please tell me if there is any way to overcome the problem and run the program. I am using kali linux.
If there is any way that i may not use the latest version of whatsapp and the one working with your program....... until you fix this.

[2020-09-07 17:50] rpotter12 commented on #376
Actually this software works on particular selectors, so we can't use it until we fix the selectors.

[2020-09-13 04:08] rpotter12 commented on #376
@wirkoo tracking scripts are now working. You can check.

[2020-09-13 04:08] #376 closed

[2020-09-23 14:31] Pushpit07 opened #379 "Track multiple user statuses at once"
I saw that there is a feature that allows us to track the online WhatsApp status of a person. It is great but is there any way to track the online status of multiple WhatsApp users?

[2020-09-23 14:39] Pushpit07 opened #380 "Get online status of a user who has turned it off"
Is there any way to get the last online status of a person who has turned 'last seen' off? It would be a really great feature if this could be done.

[2020-09-23 14:48] Pushpit07 opened #381 "Contact not switching at first try"
I was sending a message to person 'A' and then switched the contact to person 'B' to send a message to him. I did this by executing ```...```. But then I thought that I don't want to send a message to 'B', rather I would like to send a message to 'C'. I again executed ```...``` to switch to person 'C' but "..." was sent as a message to person 'B'. This issue happens only when we execute ```...```

[2020-09-24 02:02] rpotter12 commented on #379
Currently I am struggling with this. I am trying to find a way through which we can track multiple targets.

[2020-09-24 02:03] rpotter12 commented on #379
Please see #61

[2020-09-24 02:03] #379 closed

[2020-09-24 02:08] rpotter12 commented on #380
I think it will not be possible if last seen if off by the person. This will be only possible if we are running scripts for all the persons and the scripts should be running all the time at some platform.

[2020-09-24 02:08] #380 closed

[2020-09-24 02:12] rpotter12 commented on #381
@Pushpit07 Thank you :)
If you like to work on this issue please proceed.

[2020-09-24 02:22] rpotter12 commented on #363
This issue does not exist now.

[2020-09-24 02:22] #363 closed

[2020-09-24 02:25] Pushpit07 commented on #381
Yes, sure. Working on it

[2020-09-24 02:26] rpotter12 commented on #373
This issue does not exist now.

[2020-09-24 02:26] #373 closed

[2020-10-01 22:55] ritwikchakraborty123 commented on #326
Sir I want to contribute

[2020-10-01 22:56] ritwikchakraborty123 commented on #295
Sir I want to contribute

[2020-10-02 00:41] rpotter12 commented on #295
Sure @ritwikchakraborty123, Go ahead.

[2020-10-02 00:42] rpotter12 commented on #326
Sure @ritwikchakraborty123, go ahead.

[2020-10-02 05:41] ritwikchakraborty123 commented on #295
Sir I am totally new here may be it will take some time with setup and all...sir @rpotter12  is there
Channel for discussion ?

[2020-10-07 01:30] #381 closed

[2020-10-07 01:36] rpotter12 commented on #295
Hi @ritwikchakraborty123, sorry for the late reply. Yes we have a discussion channel. You can find that in Readme's Badge section. There is a gitter badge. You can join our discussion channel just by clicking on it. :)

[2020-11-13 16:00] Vectron-IITM opened #383 "get-news"

[2020-11-14 12:43] #383 closed

[2020-11-27 14:00] acripa commented on #374
Como se hace??

[2020-11-27 14:47] acripa opened #384 "i can't install wplay¡¡¡"

[2020-11-27 14:49] acripa commented on #384
no puedo instalar wplay me dice que visual studio no esta instalado, pero si lo esta.

[2020-11-27 17:02] rpotter12 commented on #374
@acripa English please :)

[2020-11-27 17:03] rpotter12 commented on #384
@acripa English please :)

[2020-11-27 19:29] acripa commented on #384
Hello, I'm sorry,
the problem is that i can't install wplay, there's no way, it gives me an error and says that i don't have visual studio installed, but i do, i have visual studio 2019 communitty.
What can I do?

[2020-12-09 09:45] internetpoint opened #385 "not bale to launch usinh wplay -h getting teh following errors"
Traceback (most recent call last):
  File "/usr/local/bin/wplay", line 6, in <module>
    from wplay.__main__ import main
  File "/usr/local/lib/python3.7/dist-packages/wplay/__main__.py", line 15, in <module>
    from wplay import broadcast_message
  File "/usr/local/lib/python3.7/dist-packages/wplay/broadcast_message.py", line 2, in <module>
    from tkinter import Tk
ModuleNotFoundError: No mod

[2021-01-28 06:41] Isurusachitha opened #386 "Whatsapp status posting via API"
If we can post Whatsapp status via API  that would be a great feature.

[2021-02-03 08:12] rpotter12 commented on #386
@Isurusachitha this can be great. If you want to work on this feature Please go ahead

[2021-02-03 08:13] rpotter12 commented on #385
Try to install tkinter. This can help you.

[2021-02-03 08:16] rpotter12 commented on #384
@acripa
Is this issue is still there??
If yes, can you paste the screenshot of the error you are getting

[2021-02-17 07:36] Aayush-hub commented on #135
@rpotter12 Can i work on this issue? #GSSOC21

[2021-02-17 12:10] rpotter12 commented on #135
@Aayush-hub Please go ahead.

[2021-02-17 17:01] #135 closed

[2021-02-18 06:24] abhijeet010304 commented on #293
I want to work on it please assign it to me as a part of GSSOC -21

[2021-02-19 18:27] rpotter12 commented on #293
Hi @abhijeet010304, we are not participating in GSSOC21. You can go ahead with your implementation if you want to. :)

[2021-02-28 04:29] Amulya310 commented on #295
Hey, I would really like to work on this issue under GSSOC'21 .Kindly consider assigning this to me!!

[2021-03-01 17:36] rpotter12 commented on #295
Hi @Amulya310, We are not participating in GSSOC21. If you would like to work on this issue you can start working on this. :)

[2021-03-05 09:46] anirudhsai20 opened #391 "README.md file enhancement"
the README.md file can be further enhanced by adding a list of all the open source programs it is a part of and also a list of all its contributors.

[2021-03-05 09:47] anirudhsai20 commented on #391
Hi @rpotter12 . Please allow me to work on this issue under GSSOC.

[2021-03-06 14:49] sudipg4112001 opened #392 "Detection of sentiments"
I would like to add a project for sentiment analysis of users for the text of WhatsApp. I would like to do this using the dataset: https://www.kaggle.com/sankha1998/emotion
I am a participant of GSSOC'21

[2021-03-06 16:30] rpotter12 commented on #391
Hi @anirudhsai20, It's an open-source project so it will be better not to include open-source programs in README. Contributors list can be seen in the contribution sector.

I suggest to re-write the README file so that it can explain the whole project better and easy to understand.

We are not participating in GSSOC this year. You can still enhance README file to increase your open-source skills.

[2021-03-06 16:35] rpotter12 commented on #392
Hi @sudipg4112001, I don't think it will be better for this project. It will be good if you introduce a new feature in this software which we can't do with our Whatsapp mobile app. :)

[2021-03-06 16:35] #392 closed

[2021-03-07 21:53] aroraakshit opened #393 "Installation from source error `ModuleNotFoundError: No module named '_ctypes'`"
Unable to install from requirements.txt, `whaaaaat` errors out with no module named '_ctypes'.

Crash dump:

[code]

[2021-03-07 21:54] aroraakshit commented on #393
cc: @Rohan-Salwan

[2021-03-08 06:40] Akash20x opened #394 "Add issue templates"
I want to add issue templates for proposal, feature and documentation types so that there is proper way to create a new issue in your repo.

Please assign me this task as a part of GSSoC'21
and add necessary labels.

[2021-03-08 16:58] subhangi2731 commented on #394
can you please assign this to me?

[2021-03-08 21:49] bitaashna opened #395 "Participant count for a group and get group participant"
Participant count-This method will count the no of participants for the group name provided.
Get Group Participant-This method is used to get all the participants.
 I would like to contribute to this as a part of **GSSOC'21**
 Can u please assign this task to me. @rpotter12

[2021-03-08 21:55] bitaashna opened #396 "Emojify text Emojis"
A method to emojify all the text emoji's present in the message.
I would like to contribute to it as a part of GSSOC'21.
Can you please assign it to me,

[2021-03-08 22:03] bitaashna opened #397 "Creating Group,Joining group,Setting Group Picture,Exiting Group"
I would like to work on it as a part of GSSOC'21.
Can you please assign this work to me.

[2021-03-09 03:29] rpotter12 commented on #393
Hi @aroraaskshit, https://stackoverflow.com/questions/27022373/python3-importerror-no-module-named-ctypes-when-using-value-from-module-mul this answer will help you.
You need to install libffi-dev in your system.

[2021-03-09 03:46] #384 closed

[2021-03-09 03:59] rpotter12 commented on #395
Hi @bitaashna, this will be a good idea. You can add these things in information of group while showing the information of a group.

[2021-03-09 04:00] rpotter12 commented on #395
Hi @bitaashna, this will be a good idea. You can add these things in information of group while showing the information of a group.

[2021-03-09 04:07] rpotter12 commented on #396
Hi @bitaashna, I'm not clear with your idea. Can you share some example here?

[2021-03-09 04:37] bitaashna commented on #396
Hey @rpotter12 !
as we know we cannot write emojis in the terminal so we may use text instead of that emojis and when we message someone than  that text will be converted to emoji

[2021-03-09 05:34] Akash20x commented on #394
Please add GSSoC'21 and good first label

[2021-03-09 08:07] rpotter12 commented on #397
Hi @bitaashna, joining a group will not help this software. You can proceed with the other feature.

[2021-03-09 10:24] bitaashna commented on #396
Ok. I'll try it and let you know.

[2021-03-09 15:13] nNikita1018 commented on #374
i want to contribute

[2021-03-10 10:10] bitaashna commented on #395
can u please label the issue as gssoc'21.

[2021-03-10 12:31] anushka00 opened #404 "Mistakes in Readme file!!"
I would like to work on it as a **gssoc'21** issue as i am a newbie to open source and i need to add important guidelines in the readme file with resurrecting the mistakes in the readme file.  #gssoc'21

[2021-03-10 13:25] rpotter12 commented on #404
Hi @anushka00, Please refer #391.

[2021-03-10 13:25] #404 closed

[2021-03-10 13:44] rpotter12 commented on #385
Hi @bitaashna, try these commands:
[code]

[2021-03-10 13:52] bitaashna commented on #385
![Screenshot from 2021-03-10 19-20-58](https://user-images.githubusercontent.com/57864526/110639523-d1a1ef80-81d5-11eb-8b00-6b8260fbbbfb.png)
again facing the same problem..unable to install tkinter

[2021-03-10 15:23] anubhav201241 opened #408 "Automatic Message Send to WhatsApp browser"
Is this feature I can create an Automation of  WhatsApp Chats

In this we Type message and decide at what time to send the message and to whom send the message

This can make our work more easier and reduce our time too

Simple Automation of WhatsApp chat (Sending the message to whomever we want)

:))

[2021-03-10 18:15] Komal-99 commented on #391
Hi ,
I would like to work on this issue ,Kindly assign it to me.
Main focus of this issue is to rewrite Readme so that people can understand it more easily what all project is about?

[2021-03-10 18:27] A-kriti commented on #408
Hello Anubhav Sir, I would like to contribute to this issue as a GSSOC'21 participant. So could you please assign me this?

[2021-03-10 21:41] anubhav201241 commented on #408
I'm Not Sir I'm also a Participant and want to contribute this to the Project :)

[2021-03-10 22:04] rpotter12 commented on #408
Hi @anubhav201241, this feature is already present in this software. Please schedule-message feature.

[2021-03-10 22:04] #408 closed

[2021-03-10 22:08] rpotter12 commented on #385
@bitaashna you are trying to install tkinter on python2. Use command `sudo apt-get install python3-tk` to install it in python3.

[2021-03-11 03:17] bitaashna commented on #385
tried that also.. but still the problem persist
![Screenshot from 2021-03-11 08-47-11](https://user-images.githubusercontent.com/57864526/110730441-74925200-8246-11eb-9e80-439d443d09c1.png)

[2021-03-11 13:14] bitaashna commented on #385
Though I was not able to run this on ubuntu ,I switched my OS to windows and now it's working fine.

[2021-03-11 14:07] harshita2319 commented on #391
Hey,
I'm also interested in working to solve this issue. If you're looking for more people to work on this then, please do assign it to me as well!

[2021-03-11 17:20] khareyash05 opened #411 "Update Contributing.md"
Hi! I would like to add few things in contributing.md apart from the one mentioned
1. Squash commits of an issue under a single commit
2. Update your forked and local repo as and when changes are made in the upstream

[2021-03-11 17:41] rpotter12 commented on #411
Hi @khareyash05, There is no need of first point. I can squash and commit while merging a PR if it is needed. You can add second point.

[2021-03-11 17:43] rpotter12 commented on #391
Hi @harshita2319, you can also work on it. Better quality of documentation is much needed for this project.

[2021-03-11 17:46] rpotter12 commented on #385
@bitaashna, We need to solve your ubuntu issue also. This should not happen. I will look at tkinter library. I am not sure that we are using tkinter in this software or not.

[2021-03-11 17:47] rpotter12 commented on #396
This issue is solved by #409.

[2021-03-11 17:48] #396 closed

[2021-03-12 08:58] soumik2012 commented on #411
Can I also contribute to this?

[2021-03-12 09:08] anushree71199 commented on #411
If this is still open I would like to contribute to this issue under GSSoc'21. Can you assign it to me?

[2021-03-12 09:57] khareyash05 commented on #411
Sorry @soumik2012 @anushree71199  I have already finished it and just waiting for merging

[2021-03-12 10:23] Navya-amarneni commented on #397
I found this issue to be interesting.Can you assign this issue to me?

[2021-03-12 11:25] rohank2502 opened #414 "Will like to add the contribution section read me"
I will like to add a feature to read me this will update the contribution automatically this helps lot in keeping read me file updated !! Will start work on it as soon as I get assigned to it !!

[2021-03-12 19:43] rpotter12 commented on #414
Hi @rohank2502, our main priority is #391. Please look into that.

[2021-03-12 19:43] #414 closed

[2021-03-13 03:43] vismitap commented on #391
Hey! I would like to work on this issue as a part of GSSOC'21!

[2021-03-13 08:30] sal-glitch commented on #386
Heyy can I also work on this too if possible.

[2021-03-13 12:39] shriya030 opened #415 "Update README.md"
I am a GSSOC'21 participant and would like to add a feature in README.md where the contributors get automatically updated.
Can you please assign this issue to me?

[2021-03-13 13:56] ShreyaTarwey commented on #293
Hi @rpotter12  sir, I would like to work on the project under GSSOC'21, could you please assign it to me?

[2021-03-13 14:00] rpotter12 commented on #391
@vismitap you can start working on it.

[2021-03-13 14:01] rpotter12 commented on #415
Hi @shriya030, Currently this is not much needed. Please look into #391.

[2021-03-13 14:01] #415 closed

[2021-03-13 14:03] rpotter12 commented on #293
@ShreyaTarwey Please proceed. :)

[2021-03-13 14:56] #411 closed

[2021-03-13 17:04] shriya030 commented on #391
Hii! I can add the feature of automatic updating of contributors. I would like to work on this issue as a part of GSSOC'21.

[2021-03-13 17:13] dsg1320 commented on #295
Hai, I would like to work on this issue under GSSOC'21. Do assign it to me

[2021-03-14 09:01] mekaustubh28 opened #416 "Clear Chat feature using wplay"
**I wanted to add a new feature to Delete chats**

**Description**
Using this command user can clear his/her all chats with group  or any person.

**Additional context**
Please assign me to add this new Feature under GSSoC'21 tag.

[2021-03-15 05:05] soumik2012 commented on #293
Hello @rpotter12 sir, I would like to contribute to this could you assign me ?

[2021-03-16 02:15] khareyash05 commented on #411
Thank You!
@rpotter12 Could you please add a level label to the same as under the GSSOC guidelines? As easy labels aren't being evaluated in GSSOC

[2021-03-16 04:56] #394 closed

[2021-03-16 10:35] Isurusachitha commented on #386
@sal-glitch yes,  thats great if you can work on this enhancement.

[2021-03-23 05:02] akashva50 opened #418 "Need an update!"
**Bug Description**
Wplay stops by throwing some error after selecting the target for tracking.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Terminal'
2. Run wplay $python -m wplay -wt
3. select target chat
4. See error!

**Expected behaviour**
It should show target online status

**Screenshots**
![error](https://user-images.githubusercontent.com/35763811/112095657-e2ce0180-8bc2-11

[2021-03-23 05:13] rpotter12 commented on #418
@akashva50 Whatsapp change their whatsapp-web frontend code in some period of time. The selectors are changed. We need to edit the selector of this software.

Please start fixing this error. :)

[2021-03-23 06:32] akashva50 commented on #418
Can u give a hint for editing selector cos i have no idea about doing that.

[2021-03-23 11:20] akashva50 commented on #418
should i update "whatsapp_selectors_dict"?

[2021-03-23 18:43] rpotter12 commented on #418
Yes. You only need add right selector

[2021-03-24 07:18] akashva50 commented on #418
#app > div > div > div.Akuo4 > div._1Flk2._3xysY > span > div > span > div > div > section > div._3ZEdX._3hiFt.bRenh > div._1TFjN > span:nth-child(2)

how to edit above selector?

[2021-03-25 23:46] rpotter12 commented on #418
@akashva50 Open whatsapp-web. Check the valid selector there and change the whatsapp_selector according to that.

[2021-03-26 09:44] mekaustubh28 commented on #416
Thank you for assigning me to this issue I am working on it .

[2021-04-02 07:14] guo-yu-baba commented on #126
I change the version of urllib from 1.26.4 to 1.25.8, and it works.

[2021-05-13 16:19] achalporwal opened #419 "Process Killed"
C:\Users\porwal>wplay -wc
                 __
 _      ______  / /___ ___  __
| | /| / / __ \/ / __ `/ / / /
| |/ |/ / /_/ / / /_/ / /_/ /
|__/|__/ .___/_/\__,_/\__, /
      /_/            /____/

? ***Session Manager***:  Restore a session
? Select a session to try to restore:  Achal
You've to go to whatsapp web and select target manually
You've selected the target named by: +91 ***** *****
Waitin

[2021-05-15 04:53] rpotter12 commented on #419
Hi @achalporwal,
Whatsapp always changes its HTML format every few months. This is error is caused by that only. To fix this we need to change the selector in wplay/utils/helpers.py file. Please open a pull request if you to contribute.

[2021-05-15 18:39] #418 closed

[2021-05-15 20:17] #419 closed

[2021-05-15 20:18] rpotter12 commented on #419
@achalporwal Please update whatsapp-play with latest pypi package.

[2021-05-31 18:41] #395 closed

[2021-05-31 18:42] #397 closed

[2021-06-10 05:24] badarulaa opened #426 "Can't Attach Any File"
Hello.

When i try running chat using terminal, and run command #_FILE, why always appear this problem

No node found for selector: #main > header > div > div > div > span > div > div > ul > li:nth-child(3) > button
  File "/home/badar/GitHub/whatsapp-play/wplay/utils/io.py", line 52, in send_file
    await page.click(whatsapp_selectors_dict['choose_file'])
  File "/home/badar/GitHub/whatsapp-play

[2021-06-11 16:27] rpotter12 commented on #426
Hi @badarulaa, this error is caused because whatsapp changes their whatsapp-web HTML format after every few months. So the selector used in this software is older one. To fix this error we need to update the selectors.

[2021-06-11 16:47] badarulaa commented on #426
Well i see, so we need to search which one a new selector, right ?

[2021-06-11 17:52] rpotter12 commented on #426
Yes, we need to inspect(ctrl + shift + i) on whatsapp-web and update the selectors in https://github.com/whatsplay/whatsapp-play/blob/master/wplay/utils/helpers.py

[2021-06-28 17:46] alirezadigi commented on #126
Hi
I have another issue on windows and raspberry pi
but I think it's pyppeteer problem.

[code]

[2021-08-22 14:47] IrtizaNasar opened #427 "Selenium browser stops tracking changes after some time"
The script works fine at the start but after a couple of days 2-3 the terminal stops registering if the user is online even though on the selenium browser the user can be seen online?

Windows 10
Chrome

Is there a quick fix to this?

![IMG_6894](https://user-images.githubusercontent.com/26178593/130359398-869fd72e-bc89-4d6c-8d2e-4254a6830c55.jpg)
![IMG_6895](https://user-images.githubusercontent.

[2021-10-04 14:52] gurpreet24112004 commented on #426
Where can we attach the file of numbers

[2021-10-04 16:49] gurpreet24112004 opened #428 "How to attach number in India"
**Describe the bug**
i Cant find where and how to attach numbers in India

**Expected behavior**
Want to know where and how to input the data.

**Screenshots**
Can add data.

**Desktop (please complete the following information):**
 - OS: [Windows]
 - Browser [ chrome]
 - Version [ 22]

**Smartphone (please complete the following information):**
 - Device: [Samsung A21]
 - OS: [e.g. Android11]
 -

[2021-10-12 00:49] rpotter12 commented on #428
Please be more descriptive.

[2021-10-13 17:44] gurpreet24112004 commented on #428
Whenever we add a number for india we add 91 before dialing the number
there is no support for that what to do

On Tue, 12 Oct 2021, 6:19 am Rohit Potter, ***@***.***> wrote:

[2022-04-11 18:30] ugrcandgn opened #430 "whatsapp online api paid"
I will rent monthly api for my whatsapp application. I am waiting for suitable offers. You can write mail ugrcandgn@gmail.com.